@import url("http://fonts.googleapis.com/css?family=Poppins:100,300,400,700,900");
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?esuxuj");
  src: url("fonts/icomoon.eot?esuxuj#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?esuxuj") format("truetype"), url("fonts/icomoon.woff?esuxuj") format("woff"), url("fonts/icomoon.svg?esuxuj#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* line 5, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/base/_base.scss */
* {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
}

/* line 11, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/base/_base.scss */
#header {
  color: #fff;
}

/* line 15, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/base/_base.scss */
h1 {
  font-size: 2.25em;
  font-weight: 400;
}

/* line 21, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/base/_base.scss */
h2 {
  box-sizing: border-box;
  font-size: 2rem;
  font-weight: 400;
  margin: 0 0 15px;
  color: #25262c;
}

/* line 29, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/base/_base.scss */
.h2 {
  padding-bottom: 10px;
}

/* line 33, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/base/_base.scss */
h3 {
  font-size: 1.5em;
}

/* line 37, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/base/_base.scss */
h4 {
  color: #fff;
}

/* line 44, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/base/_base.scss */
.newsletter {
  padding-bottom: 3.125em;
}

/* line 50, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/base/_base.scss */
p {
  font-size: 1em;
}

/* line 54, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/base/_base.scss */
.p {
  padding-bottom: 10px;
}

/* line 13, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
#container {
  position: relative;
  min-height: 100%;
  width: 100%;
  height: 100%;
  position: initial;
  max-width: 2000px;
  background-color: #fff;
}

@media (min-width: 1px) and (max-width: 320px) {
  /* line 13, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
  #container {
    flex-direction: column;
  }
}

@media (min-width: 1025px) and (max-width: 2000px) {
  /* line 13, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
  #container {
    flex-direction: column;
  }
}

/* line 39, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.container {
  width: 95%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  background-color: #4a4c59;
}

/* line 46, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.container img {
  height: 100%;
  width: 100%;
}

/* line 51, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.container-header {
  background-color: #fff;
}

/* line 62, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.row {
  display: table;
  width: 100%;
}

/* line 67, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.main {
  position: relative;
}

/* line 76, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.inner {
  padding: 20px 0;
}

/* line 80, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.logo-container {
  display: table;
  table-layout: fixed;
}

/* line 85, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.logo {
  display: table-cell;
  vertical-align: middle;
  max-width: 100%;
}

/* line 91, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.container-mobile {
  display: table-cell;
  vertical-align: middle;
}

/* line 102, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.banner-content {
  filter: invert(0);
  width: 320px;
  position: absolute;
  text-align: center;
  font-weight: 200;
}

/* line 110, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.banner-content p {
  font-weight: 400;
}

/* line 118, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service {
  background-color: #fff;
}

/* line 122, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  text-align: center;
}

/* line 132, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-link h1 {
  color: #25262c;
}

/* line 136, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-link > span.h2 {
  padding-bottom: 10px;
}

/* line 142, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-one, .service-block-two, .btn-it, .service-block-three, .btn-dm, .service-block-four, .btn-ts, .service-block-five, .btn-wd, .service-block-six, .btn-cs, .service-block-seven, .btn-dt, .btn-software {
  text-align: center;
  content: "\E918";
}

/* line 147, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-one:hover, .service-block-two:hover, .btn-it:hover, .service-block-three:hover, .btn-dm:hover, .service-block-four:hover, .btn-ts:hover, .service-block-five:hover, .btn-wd:hover, .service-block-six:hover, .btn-cs:hover, .service-block-seven:hover, .btn-dt:hover, .btn-software:hover {
  background-color: #67809f;
  color: #fff;
}

/* line 151, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-one:hover .btn-software, .service-block-two:hover .btn-software, .btn-it:hover .btn-software, .service-block-three:hover .btn-software, .btn-dm:hover .btn-software, .service-block-four:hover .btn-software, .btn-ts:hover .btn-software, .service-block-five:hover .btn-software, .btn-wd:hover .btn-software, .service-block-six:hover .btn-software, .btn-cs:hover .btn-software, .service-block-seven:hover .btn-software, .btn-dt:hover .btn-software, .btn-software:hover .btn-software {
  background-color: #fff;
  color: #67809f;
}

/* line 162, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-two:hover, .btn-it:hover {
  background-color: #4183d7;
  color: #fff;
}

/* line 166, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-two:hover .btn-it, .btn-it:hover .btn-it {
  background-color: #fff;
  color: #4183d7;
}

/* line 176, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-three:hover, .btn-dm:hover {
  background-color: #2ecc71;
  color: #fff;
}

/* line 180, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-three:hover .btn-dm, .btn-dm:hover .btn-dm {
  background-color: #fff;
  color: #2ecc71;
}

/* line 190, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-four:hover, .btn-ts:hover {
  background-color: #d64541;
  color: #fff;
}

/* line 194, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-four:hover .btn-ts, .btn-ts:hover .btn-ts {
  background-color: #fff;
  color: #d64541;
}

/* line 204, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-five:hover, .btn-wd:hover {
  background-color: #926fb1;
  color: #fff;
}

/* line 208, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-five:hover .btn-wd, .btn-wd:hover .btn-wd {
  background-color: #fff;
  color: #926fb1;
}

/* line 218, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-six:hover, .btn-cs:hover {
  background-color: #f62459;
  color: #fff;
}

/* line 222, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-six:hover .btn-cs, .btn-cs:hover .btn-cs {
  background-color: #fff;
  color: #f62459;
}

/* line 232, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-seven:hover, .btn-dt:hover {
  background-color: #ce4125;
  color: #fff;
}

/* line 236, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-seven:hover .btn-dt, .btn-dt:hover .btn-dt {
  background-color: #fff;
  color: #ce4125;
}

/* line 252, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.brand-bg {
  color: #fff;
  margin: 15px;
}

/* line 256, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.brand-bg a {
  color: #fff;
}

/* line 260, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.brand-bg h2 {
  color: #fff;
}

/* line 268, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.reviews {
  margin: 15px;
  color: #fff;
}

/* line 273, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.client-quote {
  font-style: italic;
}

/* line 277, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.client-quote-author {
  font-weight: 600;
  color: #a3a5b3;
}

/* line 281, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.client-quote-author a {
  color: #fff;
}

/* line 288, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.aboutus {
  margin-bottom: 3.125em;
}

/* line 292, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.star {
  display: inline-block;
  font-size: 50px;
}

/* line 299, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.headings-bar {
  display: flex;
  background-color: #fff;
}

/* line 304, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.latest-articles {
  background-color: #fff;
}

/* line 308, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.readtime {
  display: inline;
  text-transform: uppercase;
  color: #b9bbc5;
  font-weight: 100;
}

/* line 315, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.block-one, .service-block-one, .service-block-two, .btn-it, .service-block-three, .btn-dm, .service-block-four, .btn-ts, .service-block-five, .btn-wd, .service-block-six, .btn-cs, .service-block-seven, .btn-dt, .btn-software, .block-two, .block-three {
  display: flex;
  top: 0;
  border: 1px solid #a3a5b3;
  border-radius: 2%;
  flex-direction: column;
  margin: 20px 20px;
  position: relative;
  transition: .5s ease;
}

/* line 328, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.block-one:hover, .service-block-one:hover, .service-block-two:hover, .btn-it:hover, .service-block-three:hover, .btn-dm:hover, .service-block-four:hover, .btn-ts:hover, .service-block-five:hover, .btn-wd:hover, .service-block-six:hover, .btn-cs:hover, .service-block-seven:hover, .btn-dt:hover, .btn-software:hover, .block-two:hover, .block-three:hover {
  top: -10px;
  transition: .5s ease;
}

/* line 333, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.block-one h3, .service-block-one h3, .service-block-two h3, .btn-it h3, .service-block-three h3, .btn-dm h3, .service-block-four h3, .btn-ts h3, .service-block-five h3, .btn-wd h3, .service-block-six h3, .btn-cs h3, .service-block-seven h3, .btn-dt h3, .btn-software h3, .block-two h3, .block-three h3 {
  color: #2ecc71;
}

/* line 337, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.block-one img, .service-block-one img, .service-block-two img, .btn-it img, .service-block-three img, .btn-dm img, .service-block-four img, .btn-ts img, .service-block-five img, .btn-wd img, .service-block-six img, .btn-cs img, .service-block-seven img, .btn-dt img, .btn-software img, .block-two img, .block-three img {
  width: 100%;
}

/* line 346, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.block-two h3 {
  color: #4183d7;
}

/* line 356, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.block-three h3 {
  color: #926fb1;
}

/* line 362, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.block-content {
  display: block;
  padding: 30px;
}

/* line 366, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.block-content p {
  text-wrap: wrap;
}

/* line 371, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.article-content {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 15px 15px 15px 0;
  text-align: left;
}

@media (min-width: 1px) and (max-width: 320px) {
  /* line 371, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
  .article-content {
    flex-direction: column;
  }
}

/* line 385, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
a.article-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  text-decoration: none;
  text-align: left;
  font-size: 13px;
  color: #b9bbc5;
}

/* line 399, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
a.article-link:hover {
  text-decoration: none;
}

/* line 408, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.latest-articles {
  padding-left: 0;
}

/* line 412, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.user {
  display: table;
  margin-top: 30px;
  padding-top: 30px;
}

/* line 417, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.user > * {
  display: table-cell;
  vertical-align: middle;
}

/* line 423, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.info {
  padding-left: 20px;
}

/* line 427, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.divider {
  border-top: 1px solid #a3a5b3;
  margin-top: 50px;
}

/* line 437, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.footer {
  display: flex;
  position: relative;
  padding-top: 20%;
}

/* line 443, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.footer-bottom {
  width: 100%;
  justify-content: space-between;
  left: 0;
  background-color: #25262c;
}

/* line 451, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.footer-company-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: pallete(grey, x-light);
  color: white;
  row-gap: 10px;
}

@media (min-width: 1px) and (max-width: 320px) {
  /* line 451, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
  .footer-company-info {
    flex-direction: column;
  }
}

/* line 468, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.footer-socials {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625em;
  color: white;
}

@media (min-width: 321px) and (max-width: 1024px) {
  /* line 468, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
  .footer-socials {
    flex-direction: row;
  }
}

/* line 480, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.footer-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

@media (min-width: 1px) and (max-width: 320px) {
  /* line 480, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
  .footer-row {
    flex-direction: column;
  }
}

@media (min-width: 1025px) and (max-width: 2000px) {
  /* line 480, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
  .footer-row {
    flex-direction: row;
  }
}

/* line 504, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.footer-menu {
  display: flex;
  font-size: 13px;
}

@media (min-width: 1px) and (max-width: 320px) {
  /* line 504, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
  .footer-menu {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

@media (min-width: 1025px) and (max-width: 2000px) {
  /* line 504, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
  .footer-menu {
    flex-direction: row;
  }
}

/* line 521, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.footer-logo {
  vertical-align: middle;
}

/* line 525, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.footer-logo img {
  width: 100%;
}

/* line 532, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
footer ul li a {
  color: #fff;
}

/* line 537, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
footer h4 {
  color: #fff;
  text-transform: uppercase;
}

/* line 547, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
li {
  list-style: none;
  justify-content: center;
}

/* line 553, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.licence {
  justify-content: left;
  font-size: 13px;
  background-color: #25262c;
  color: #fff;
}

@media (min-width: 321px) and (max-width: 1024px) {
  /* line 553, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
  .licence {
    justify-content: center;
  }
}

@media (min-width: 1px) and (max-width: 320px) {
  /* line 580, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
  .visible-xs {
    display: auto;
  }
}

@media (min-width: 321px) and (max-width: 1024px) {
  /* line 580, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
  .visible-xs {
    display: none;
  }
}

@media (min-width: 1px) and (max-width: 320px) {
  /* line 594, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
  .hidden-s {
    display: none;
  }
}

/* line 600, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.p {
  margin: 0;
}

/* line 604, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.ul {
  display: flex;
  padding-left: 1px;
  margin: 0;
  list-style-type: none;
}

@media (min-width: 1px) and (max-width: 320px) {
  /* line 611, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
  .ul > li:first-of-type {
    display: none;
  }
}

@media (min-width: 321px) and (max-width: 1024px) {
  /* line 611, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
  .ul > li:first-of-type {
    display: inline-block;
  }
}

/* line 625, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.li-hypthen {
  margin-left: 0.625em;
  margin-right: 0.625em;
}

/* line 630, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.col-xs {
  width: 100%;
  color: #fff;
}

/* line 635, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.col-l {
  display: flex;
}

/* line 639, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.newsletter {
  background-color: #b9bbc5;
  padding: 15px;
}

/* line 644, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.form-input {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 651, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.form-input label {
  padding-top: 15px;
}

@media (min-width: 321px) and (max-width: 1024px) {
  /* line 644, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
  .form-input {
    flex-wrap: wrap;
  }
}

@media (min-width: 1025px) and (max-width: 2000px) {
  /* line 644, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
  .form-input {
    flex-wrap: wrap;
  }
}

/* line 665, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.media-body {
  display: table-cell;
  vertical-align: top;
  line-height: 32px;
}

/* line 7, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_img.scss */
.img-container {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 0;
}

/* line 14, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_img.scss */
.img-responsive {
  position: relative;
}

/* line 18, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_img.scss */
.article-img {
  display: block;
  width: auto;
  height: auto;
}

/* line 24, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_img.scss */
.home-img {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 600px;
}

/* line 35, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_img.scss */
.home-img img {
  filter: invert(0.3);
}

/* line 7, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_forms.scss */
.search-form {
  display: flex;
  padding-top: 10px;
  outline: none;
}

/* line 12, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_forms.scss */
.search-form-btn {
  width: 20%;
  outline: none;
}

/* line 18, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_forms.scss */
.form-control {
  height: 47px;
  width: 100%;
}

/* line 23, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_forms.scss */
.search-bar, .search-form-btn, #search-submit {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.1);
  outline: rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.1);
}

/* line 36, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_forms.scss */
.label-checkbox {
  display: inline-block;
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-color: #b9bbc5;
  border: 3px solid #25262c;
  border-radius: 10%;
  margin-top: 1.25em;
  margin-right: 1.25em;
  margin-left: 1.25em;
}

/* line 48, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_forms.scss */
.label-checkbox::before {
  content: "";
  color: #fff;
  display: block;
  position: center;
  transform: translate(50%, -20%);
  width: 0;
  height: 0;
  border-top: 0;
}

/* line 66, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_forms.scss */
input[type="checkbox"] {
  display: none;
}

/* line 69, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_forms.scss */
input[type="checkbox"]:checked + .label-checkbox {
  background-color: #4a4c59;
  border: 3px solid #4a4c59;
}

/* line 74, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_forms.scss */
input[type="checkbox"]:checked + .label-checkbox::before {
  scale: 2;
  width: 10px;
  height: 10px;
  position: center;
  content: "\2713";
}

/* line 5, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1em;
  border-radius: 3px;
  background-color: #4a4c59;
  color: white;
  row-gap: 0.625em;
}

/* line 8, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn:hover {
  background-color: #0b0b0b;
}

/* line 12, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-tooltip {
  position: absolute;
  color: #fff;
  background-color: #2ecc71;
  text-transform: uppercase;
  right: 0;
  padding: 0 10px;
  line-height: 1rem;
  z-index: 1;
}

/* line 22, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-tooltip-one {
  background-color: #2ecc71;
}

/* line 26, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-tooltip-two {
  background-color: #4183d7;
}

/* line 30, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-tooltip-three {
  background-color: #926fb1;
}

/* line 37, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-news {
  text-align: center;
  width: 100px;
}

/* line 42, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-news-one {
  background-color: #2ecc71;
}

/* line 46, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-news-two {
  background-color: #4183d7;
}

/* line 50, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-news-three {
  background-color: #926fb1;
}

/* line 55, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-aboutus {
  background-color: #25262c;
  margin-bottom: 17px;
}

/* line 60, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-reviews {
  margin-bottom: 20px;
  width: 80%;
  display: inline-block;
  background-color: black;
}

/* line 66, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-reviews-google {
  background-color: #4183d7;
}

/* line 70, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-reviews-trustpilot {
  background-color: #2ecc71;
}

/* line 75, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-software {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1em;
  border-radius: 3px;
  background-color: #4a4c59;
  color: white;
  row-gap: 0.625em;
  text-transform: uppercase;
  padding: 15px 5px;
  color: #fff;
  background-color: #67809f;
}

/* line 89, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-it {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1em;
  border-radius: 3px;
  background-color: #4a4c59;
  color: white;
  row-gap: 0.625em;
  text-transform: uppercase;
  padding: 15px 5px;
  background-color: #4183d7;
  color: #fff;
}

/* line 98, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-dm {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1em;
  border-radius: 3px;
  background-color: #4a4c59;
  color: white;
  row-gap: 0.625em;
  text-transform: uppercase;
  padding: 15px 5px;
  background-color: #2ecc71;
  color: #fff;
}

/* line 108, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-ts {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1em;
  border-radius: 3px;
  background-color: #4a4c59;
  color: white;
  row-gap: 0.625em;
  text-transform: uppercase;
  padding: 15px 5px;
  background-color: #d64541;
  color: #fff;
}

/* line 118, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-wd {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1em;
  border-radius: 3px;
  background-color: #4a4c59;
  color: white;
  row-gap: 0.625em;
  text-transform: uppercase;
  padding: 15px 5px;
  background-color: #926fb1;
  color: #fff;
}

/* line 128, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-cs {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1em;
  border-radius: 3px;
  background-color: #4a4c59;
  color: white;
  row-gap: 0.625em;
  text-transform: uppercase;
  padding: 15px 5px;
  background-color: #f62459;
  color: #fff;
}

/* line 138, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-dt {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1em;
  border-radius: 3px;
  background-color: #4a4c59;
  color: white;
  row-gap: 0.625em;
  text-transform: uppercase;
  padding: 15px 5px;
  background-color: #ce4125;
  color: #fff;
}

/* line 148, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-whyus {
  padding: 15px;
  background-color: #926fb1;
  font-weight: 400;
}

/* line 161, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-subscribe {
  margin-left: 0.625em;
}

/* line 165, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
a {
  color: #25262c;
  text-decoration: none;
  text-align: center;
}

/* line 171, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* line 183, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.facebook {
  width: 6.25em;
  height: 3.125em;
  display: block;
  background-color: #25262c;
  align-content: center;
  justify-content: center;
}

/* line 193, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.facebook:hover {
  background-color: #3b5998;
}

/* line 198, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.linkedin {
  background-color: #25262c;
  align-content: center;
  justify-content: center;
  width: 6.25em;
  height: 3.125em;
  display: block;
}

/* line 203, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.linkedin:hover {
  background-color: #0077B5;
}

/* line 208, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.twitter {
  background-color: #25262c;
  align-content: center;
  justify-content: center;
  width: 6.25em;
  height: 3.125em;
  display: block;
}

/* line 213, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.twitter:hover {
  background-color: #1DA1F2;
}

/* line 218, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.instagram {
  background-color: #25262c;
  align-content: center;
  justify-content: center;
  width: 6.25em;
  height: 3.125em;
  display: block;
}

/* line 221, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.instagram:hover {
  background-color: #E1306C;
}

@media (min-width: 1025px) and (max-width: 2000px) {
  /* line 218, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
  .instagram {
    margin-right: 0;
  }
}

/* line 231, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-subscribe {
  flex-direction: row;
  padding-top: 10px;
  padding-right: 50%;
}

/* line 245, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.clients, .partners {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 20px;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  overflow-x: hidden;
}

/* line 255, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.clients img, .partners img {
  filter: grayscale(1);
}

/* line 259, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.clients img:hover, .partners img:hover {
  filter: grayscale(0);
}

/* line 266, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.item {
  display: flex;
  max-height: 70px;
  height: 70px;
  width: auto;
  align-items: center;
  padding: 20px;
}

/* line 282, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.container-hamburger {
  display: table-cell;
  vertical-align: middle;
}

/* line 287, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.hamburger-box {
  display: inline-block;
  width: 33px;
  height: 19px;
  position: relative;
}

/* line 295, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.hamburger-inner {
  left: 0;
  top: 10px;
  content: "";
  display: block;
  position: absolute;
  width: 33px;
  height: 4px;
  background-color: #fff;
  border-radius: 0;
  left: 0;
}

/* line 301, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.hamburger-inner::before {
  content: "";
  display: block;
  position: absolute;
  width: 33px;
  height: 4px;
  background-color: #fff;
  border-radius: 0;
  left: 0;
  top: -10px;
  bottom: 0;
}

/* line 307, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.hamburger-inner::after {
  content: "";
  display: block;
  position: absolute;
  width: 33px;
  height: 4px;
  background-color: #fff;
  border-radius: 0;
  left: 0;
  top: 10px;
}

/* line 314, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.hamburger-spin:hover .hamburger-inner {
  content: "";
  display: block;
  position: absolute;
  width: 33px;
  height: 4px;
  background-color: #fff;
  border-radius: 0;
  left: 0;
  transform: rotate(225deg);
  transition-delay: .12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: .5s ease;
}

/* line 323, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.hamburger-spin:hover .hamburger-inner::before {
  content: "";
  display: block;
  position: absolute;
  width: 33px;
  height: 4px;
  background-color: #fff;
  border-radius: 0;
  left: 0;
  top: 0;
  opacity: 0;
  transition: top .1s ease-out ,opacity .1s ease-out .12s;
  transform: rotate(45deg);
}

/* line 333, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.hamburger-spin:hover .hamburger-inner::before:hover {
  top: 10px;
}

/* line 338, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.hamburger-spin:hover .hamburger-inner::after {
  content: "";
  display: block;
  position: absolute;
  width: 33px;
  height: 4px;
  background-color: #fff;
  border-radius: 0;
  left: 0;
  bottom: 0;
  top: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}

/* line 353, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
#search-submit {
  position: absolute;
  right: 0;
  top: 1%;
  line-height: 47px;
}

/* line 6, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_icons.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 21, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_icons.scss */
.icon-embed:before {
  content: "\e900";
}

/* line 25, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_icons.scss */
.icon-arrow-right {
  font-size: 32px;
  margin-right: -4px;
  margin-left: 12px;
}

@font-face {
  font-family: 'icomoon';
  src: url("../../icons/icomoon.eot?dhq48o");
  src: url("../../icons/icomoon.eot?dhq48o#iefix") format("embedded-opentype"), url("../../icons/icomoon.ttf?dhq48o") format("truetype"), url("../../icons/icomoon.woff?dhq48o") format("woff"), url("../../icons/icomoon.svg?dhq48o#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* line 45, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_icons.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 60, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_icons.scss */
.icon-search:before {
  content: "\e900";
}

/*# sourceMappingURL=application.css.map */