@import url("http://fonts.googleapis.com/css?family=Poppins:100,300,400,700,900");
/* line 5, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/base/_base.scss */
* {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
}

/* line 11, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/base/_base.scss */
#header {
  color: #fff;
}

/* line 15, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/base/_base.scss */
h1 {
  font-size: 2.25em;
  font-weight: 400;
}

/* line 21, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/base/_base.scss */
h2 {
  box-sizing: border-box;
  font-size: 2rem;
  font-weight: 400;
  margin: 0 0 15px;
  color: #25262c;
}

/* line 29, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/base/_base.scss */
.h2 {
  padding-top: 10%;
  padding-bottom: 10px;
  text-align: center;
}

/* line 35, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/base/_base.scss */
h3 {
  font-size: 1.5em;
}

/* line 39, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/base/_base.scss */
h4 {
  font-weight: 400;
  color: #fff;
}

/* line 47, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/base/_base.scss */
.newsletter {
  padding-bottom: 3.125em;
}

/* line 53, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/base/_base.scss */
p {
  font-size: 1em;
}

/* line 57, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/base/_base.scss */
.p {
  padding-bottom: 10px;
}

/* line 21, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.manage-consent-bar {
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: #66697a;
  color: #fff;
  border: solid #66697a;
  border-width: 1px 1px 0 0;
  border-radius: 0;
  border-top-right-radius: 10px;
  padding: 0 10px;
  cursor: pointer;
  font-size: 13px;
}

/* line 38, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.manage-consent-bar:hover {
  background: #a3a5b3;
  border: none;
}

/* line 46, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
#greetingContainer {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/* line 52, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
#greetingContainer .speechbubble {
  position: absolute;
  width: 100px;
  fill: #fff;
}

/* line 61, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
#container {
  position: relative;
  min-height: 100%;
  height: 100%;
  position: initial;
  max-width: 2000px;
  background-color: #fff;
}

@media (min-width: 1px) and (max-width: 320px) {
  /* line 61, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
  #container {
    flex-direction: column;
  }
}

@media (min-width: 1025px) and (max-width: 2000px) {
  /* line 61, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
  #container {
    flex-direction: column;
  }
}

/* line 87, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.container {
  height: 100%;
  margin-bottom: 10px;
  background-color: #4a4c59;
}

/* line 94, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.container img {
  height: 100%;
  width: 100%;
}

/* line 99, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.container-header {
  background-color: #fff;
}

/* line 110, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.row {
  display: table;
  width: 100%;
}

/* line 115, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.main {
  position: relative;
}

/* line 124, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.inner {
  padding: 20px 0;
}

/* line 128, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.logo-container {
  display: table;
  table-layout: fixed;
}

/* line 133, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.logo {
  display: table-cell;
  vertical-align: middle;
  max-width: 100%;
}

/* line 139, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.container-mobile {
  display: table-cell;
  vertical-align: middle;
}

/* line 150, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.carousell-content {
  filter: invert(0);
  width: 320px;
  position: absolute;
  text-align: center;
  font-weight: 200;
}

/* line 158, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.carousell-content p {
  font-weight: 400;
}

/* line 166, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service {
  background-color: #fff;
}

/* line 170, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  text-align: center;
}

/* line 180, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-link h1 {
  color: #25262c;
}

/* line 184, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-link > span.h2 {
  padding-bottom: 10px;
}

/* line 190, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-one, .service-block-two, .btn-it, .service-block-three, .btn-dm, .service-block-four, .btn-ts, .service-block-five, .btn-wd, .service-block-six, .btn-cs, .service-block-seven, .btn-dt, .btn-software {
  text-align: center;
}

/* line 194, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-one:hover, .service-block-two:hover, .btn-it:hover, .service-block-three:hover, .btn-dm:hover, .service-block-four:hover, .btn-ts:hover, .service-block-five:hover, .btn-wd:hover, .service-block-six:hover, .btn-cs:hover, .service-block-seven:hover, .btn-dt:hover, .btn-software:hover {
  background-color: #67809f;
  color: #fff;
}

/* line 198, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-one:hover .btn-software, .service-block-two:hover .btn-software, .btn-it:hover .btn-software, .service-block-three:hover .btn-software, .btn-dm:hover .btn-software, .service-block-four:hover .btn-software, .btn-ts:hover .btn-software, .service-block-five:hover .btn-software, .btn-wd:hover .btn-software, .service-block-six:hover .btn-software, .btn-cs:hover .btn-software, .service-block-seven:hover .btn-software, .btn-dt:hover .btn-software, .btn-software:hover .btn-software {
  background-color: #fff;
  color: #67809f;
}

/* line 203, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-one:hover .laptop, .service-block-two:hover .laptop, .btn-it:hover .laptop, .service-block-three:hover .laptop, .btn-dm:hover .laptop, .service-block-four:hover .laptop, .btn-ts:hover .laptop, .service-block-five:hover .laptop, .btn-wd:hover .laptop, .service-block-six:hover .laptop, .btn-cs:hover .laptop, .service-block-seven:hover .laptop, .btn-dt:hover .laptop, .btn-software:hover .laptop {
  fill: #67809f;
  background-color: #fff;
}

/* line 208, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-one:hover .icon-circle-software, .service-block-two:hover .icon-circle-software, .btn-it:hover .icon-circle-software, .service-block-three:hover .icon-circle-software, .btn-dm:hover .icon-circle-software, .service-block-four:hover .icon-circle-software, .btn-ts:hover .icon-circle-software, .service-block-five:hover .icon-circle-software, .btn-wd:hover .icon-circle-software, .service-block-six:hover .icon-circle-software, .btn-cs:hover .icon-circle-software, .service-block-seven:hover .icon-circle-software, .btn-dt:hover .icon-circle-software, .btn-software:hover .icon-circle-software {
  fill: #67809f;
  background-color: #fff;
}

/* line 219, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-two:hover, .btn-it:hover {
  background-color: #4183d7;
  color: #fff;
}

/* line 223, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-two:hover .btn-it, .btn-it:hover .btn-it {
  background-color: #fff;
  color: #4183d7;
}

/* line 228, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-two:hover .monitor, .btn-it:hover .monitor {
  fill: #4183d7;
  background-color: #fff;
}

/* line 233, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-two:hover .icon-circle-it, .btn-it:hover .icon-circle-it {
  fill: #4183d7;
  background-color: #fff;
}

/* line 245, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-three:hover, .btn-dm:hover {
  background-color: #2ecc71;
  color: #fff;
}

/* line 249, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-three:hover .btn-dm, .btn-dm:hover .btn-dm {
  background-color: #fff;
  color: #2ecc71;
}

/* line 254, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-three:hover .graph, .btn-dm:hover .graph {
  fill: #2ecc71;
  background-color: #fff;
}

/* line 259, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-three:hover .icon-circle-dm, .btn-dm:hover .icon-circle-dm {
  fill: #2ecc71;
  background-color: #fff;
}

/* line 269, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-four:hover, .btn-ts:hover {
  background-color: #d64541;
  color: #fff;
}

/* line 273, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-four:hover .btn-ts, .btn-ts:hover .btn-ts {
  background-color: #fff;
  color: #d64541;
}

/* line 278, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-four:hover .telephone-services, .btn-ts:hover .telephone-services {
  fill: #d64541;
  background-color: #fff;
}

/* line 283, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-four:hover .icon-circle-ts, .btn-ts:hover .icon-circle-ts {
  fill: #d64541;
  background-color: #fff;
}

/* line 293, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-five:hover, .btn-wd:hover {
  background-color: #926fb1;
  color: #fff;
}

/* line 297, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-five:hover .btn-wd, .btn-wd:hover .btn-wd {
  background-color: #fff;
  color: #926fb1;
}

/* line 302, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-five:hover .code, .btn-wd:hover .code {
  fill: #926fb1;
  background-color: #fff;
}

/* line 307, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-five:hover .icon-circle-wd, .btn-wd:hover .icon-circle-wd {
  fill: #926fb1;
  background-color: #fff;
}

/* line 317, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-six:hover, .btn-cs:hover {
  background-color: #f62459;
  color: #fff;
}

/* line 321, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-six:hover .btn-cs, .btn-cs:hover .btn-cs {
  background-color: #fff;
  color: #f62459;
}

/* line 326, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-six:hover .shield, .btn-cs:hover .shield {
  fill: #f62459;
  background-color: #fff;
}

/* line 331, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-six:hover .icon-circle-cs, .btn-cs:hover .icon-circle-cs {
  fill: #f62459;
  background-color: #fff;
}

/* line 341, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-seven:hover, .btn-dt:hover {
  background-color: #ce4125;
  color: #fff;
}

/* line 345, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-seven:hover .btn-dt, .btn-dt:hover .btn-dt {
  background-color: #fff;
  color: #ce4125;
}

/* line 350, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-seven:hover .hat, .btn-dt:hover .hat {
  fill: #ce4125;
  background-color: #fff;
}

/* line 355, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.service-block-seven:hover .icon-circle-dt, .btn-dt:hover .icon-circle-dt {
  fill: #ce4125;
  background-color: #fff;
}

/* line 371, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.brand-bg {
  color: #fff;
  margin: 15px;
}

/* line 375, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.brand-bg a {
  color: #fff;
  text-decoration: none;
}

/* line 380, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.brand-bg h2 {
  color: #fff;
}

/* line 388, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.reviews {
  margin: 15px;
  color: #fff;
}

/* line 393, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.client-quote {
  font-style: italic;
}

/* line 401, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.aboutus {
  display: block;
  flex-direction: column;
  margin-bottom: 3.125em;
}

/* line 407, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.star {
  display: inline-block;
  font-size: 50px;
}

/* line 414, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.headings-bar {
  display: flex;
  background-color: #fff;
}

/* line 419, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.latest-articles {
  background-color: #fff;
}

/* line 423, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.readtime {
  display: inline;
  text-transform: uppercase;
  color: #b9bbc5;
  font-weight: 100;
}

/* line 430, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.block-one, .service-block-one, .service-block-two, .btn-it, .service-block-three, .btn-dm, .service-block-four, .btn-ts, .service-block-five, .btn-wd, .service-block-six, .btn-cs, .service-block-seven, .btn-dt, .btn-software, .block-two, .block-three {
  display: flex;
  top: 0;
  border: 1px solid #a3a5b3;
  border-radius: 0 0 2% 2%;
  flex-direction: column;
  margin: 20px 20px;
  position: relative;
  transition: .5s ease;
}

/* line 443, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.block-one:hover, .service-block-one:hover, .service-block-two:hover, .btn-it:hover, .service-block-three:hover, .btn-dm:hover, .service-block-four:hover, .btn-ts:hover, .service-block-five:hover, .btn-wd:hover, .service-block-six:hover, .btn-cs:hover, .service-block-seven:hover, .btn-dt:hover, .btn-software:hover, .block-two:hover, .block-three:hover {
  top: -10px;
  transition: .5s ease;
}

/* line 448, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.block-one h3, .service-block-one h3, .service-block-two h3, .btn-it h3, .service-block-three h3, .btn-dm h3, .service-block-four h3, .btn-ts h3, .service-block-five h3, .btn-wd h3, .service-block-six h3, .btn-cs h3, .service-block-seven h3, .btn-dt h3, .btn-software h3, .block-two h3, .block-three h3 {
  color: #2ecc71;
}

/* line 452, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.block-one img, .service-block-one img, .service-block-two img, .btn-it img, .service-block-three img, .btn-dm img, .service-block-four img, .btn-ts img, .service-block-five img, .btn-wd img, .service-block-six img, .btn-cs img, .service-block-seven img, .btn-dt img, .btn-software img, .block-two img, .block-three img {
  width: 100%;
}

/* line 461, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.block-two h3 {
  color: #4183d7;
}

/* line 471, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.block-three h3 {
  color: #926fb1;
}

/* line 477, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.block-content {
  display: block;
  padding: 30px;
}

/* line 481, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.block-content p {
  text-wrap: wrap;
}

/* line 486, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.article-content {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 15px 15px 15px 0;
  text-align: left;
}

@media (min-width: 1px) and (max-width: 320px) {
  /* line 486, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
  .article-content {
    flex-direction: column;
  }
}

/* line 500, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
a.article-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  text-decoration: none;
  text-align: left;
  font-size: 13px;
  color: #b9bbc5;
}

/* line 514, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
a.article-link:hover {
  text-decoration: none;
}

/* line 523, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.latest-articles {
  padding-left: 0;
}

/* line 527, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.user {
  display: table;
  margin-top: 30px;
  padding-top: 30px;
}

/* line 532, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.user > * {
  display: table-cell;
  vertical-align: middle;
}

/* line 538, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.info {
  padding-left: 20px;
}

/* line 542, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.divider {
  border-top: 1px solid #a3a5b3;
  margin-top: 50px;
}

/* line 552, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.footer {
  display: flex;
  position: relative;
  padding-top: 20%;
}

/* line 558, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.footer-bottom {
  width: 100%;
  justify-content: space-between;
  left: 0;
  background-color: #25262c;
}

/* line 566, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.footer-company-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: pallete(grey, x-light);
  color: white;
  row-gap: 10px;
}

@media (min-width: 1px) and (max-width: 320px) {
  /* line 566, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
  .footer-company-info {
    flex-direction: column;
  }
}

/* line 583, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.footer-socials {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625em;
  color: white;
  margin-left: 8px;
}

@media (min-width: 321px) and (max-width: 1024px) {
  /* line 583, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
  .footer-socials {
    flex-direction: row;
  }
}

/* line 596, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.footer-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

@media (min-width: 1px) and (max-width: 320px) {
  /* line 596, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
  .footer-row {
    flex-direction: column;
  }
}

@media (min-width: 1025px) and (max-width: 2000px) {
  /* line 596, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
  .footer-row {
    flex-direction: row;
  }
}

/* line 620, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.footer-menu {
  display: flex;
  font-size: 13px;
}

@media (min-width: 1px) and (max-width: 320px) {
  /* line 620, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
  .footer-menu {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

@media (min-width: 1025px) and (max-width: 2000px) {
  /* line 620, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
  .footer-menu {
    flex-direction: row;
  }
}

/* line 636, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.footer-logo {
  vertical-align: middle;
}

/* line 640, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.footer-logo img {
  width: 100%;
}

/* line 652, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
footer h4 {
  color: #fff;
  text-transform: uppercase;
}

/* line 662, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
li {
  list-style: none;
  justify-content: center;
}

/* line 668, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.licence {
  justify-content: left;
  font-size: 13px;
  background-color: #25262c;
  color: #fff;
}

@media (min-width: 321px) and (max-width: 1024px) {
  /* line 668, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
  .licence {
    justify-content: center;
  }
}

@media (min-width: 1px) and (max-width: 320px) {
  /* line 695, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
  .visible-xs {
    display: auto;
  }
}

@media (min-width: 321px) and (max-width: 1024px) {
  /* line 695, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
  .visible-xs {
    display: none;
  }
}

/* line 711, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.p {
  margin: 0;
}

/* line 715, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.ul {
  display: flex;
  padding-left: 1px;
  margin: 0;
  list-style-type: none;
}

@media (min-width: 1px) and (max-width: 320px) {
  /* line 722, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
  .ul li:first-of-type {
    display: none;
  }
}

@media (min-width: 321px) and (max-width: 1024px) {
  /* line 722, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
  .ul li:first-of-type {
    display: inline-block;
  }
}

/* line 738, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.li-hypthen {
  margin-left: 0.625em;
  margin-right: 0.625em;
}

/* line 743, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.col-xs {
  width: 100%;
  color: #fff;
}

/* line 748, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.col-l {
  display: flex;
}

/* line 752, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.newsletter {
  background-color: #b9bbc5;
  padding: 15px;
}

/* line 757, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.form-input {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 764, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.form-input label {
  padding-top: 15px;
}

@media (min-width: 321px) and (max-width: 1024px) {
  /* line 757, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
  .form-input {
    flex-wrap: wrap;
  }
}

@media (min-width: 1025px) and (max-width: 2000px) {
  /* line 757, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
  .form-input {
    flex-wrap: wrap;
  }
}

/* line 778, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.media-body {
  display: table-cell;
  vertical-align: top;
  line-height: 32px;
}

/* line 784, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.about {
  padding: 0;
}

/* line 788, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.services {
  padding: 0;
}

/* line 792, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.industries {
  padding: 0;
}

/* line 796, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
.locations {
  padding: 0;
}

@media (min-width: 1px) and (max-width: 320px) {
  /* line 803, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
  .hidden-s {
    display: none;
  }
}

@media (max-width: 320px) {
  /* line 809, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/_container.scss */
  .hidden-xs {
    display: none;
  }
}

/* line 7, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_img.scss */
.img-container {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 0;
}

/* line 14, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_img.scss */
.img-responsive {
  position: relative;
}

/* line 18, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_img.scss */
.article-img {
  display: block;
  width: auto;
  height: auto;
}

/* line 24, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_img.scss */
.home-img {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 600px;
}

/* line 34, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_img.scss */
.home-img img {
  filter: invert(0.3);
}

/* line 7, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_forms.scss */
.search-form {
  display: flex;
  padding-top: 10px;
  outline: none;
}

/* line 12, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_forms.scss */
.search-form-btn {
  width: 20%;
  outline: none;
}

/* line 18, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_forms.scss */
.form-control {
  height: 47px;
  width: 100%;
}

/* line 23, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_forms.scss */
.search-bar, .search-form-btn, #search-submit {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.1);
  outline: rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.1);
}

/* line 36, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_forms.scss */
.label-checkbox {
  display: inline-block;
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-color: #b9bbc5;
  border: 3px solid #25262c;
  border-radius: 10%;
  margin-top: 1.25em;
  margin-right: 1.25em;
  margin-left: 1.25em;
}

/* line 48, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_forms.scss */
.label-checkbox::before {
  content: "";
  color: #fff;
  display: block;
  position: center;
  transform: translate(50%, -20%);
  width: 0;
  height: 0;
  border-top: 0;
}

/* line 66, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_forms.scss */
input[type="checkbox"] {
  display: none;
}

/* line 69, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_forms.scss */
input[type="checkbox"]:checked + .label-checkbox {
  background-color: #4a4c59;
  border: 3px solid #4a4c59;
}

/* line 74, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_forms.scss */
input[type="checkbox"]:checked + .label-checkbox::before {
  scale: 2;
  width: 10px;
  height: 10px;
  position: center;
  content: "\2713";
}

/* line 5, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
#chat-button {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

/* line 20, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.cookie-settings-btn {
  background: none;
  border: none;
  color: #fff;
}

/* line 25, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.cookie-settings-btn:hover {
  text-decoration: underline;
}

/* line 29, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1em;
  border-radius: 3px;
  background-color: #4a4c59;
  color: white;
  row-gap: 0.625em;
}

/* line 32, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn:hover {
  background-color: #25262c;
}

/* line 36, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-tooltip {
  position: absolute;
  color: #fff;
  background-color: #2ecc71;
  text-transform: uppercase;
  text-decoration: none;
  right: 0;
  padding: 0 10px;
  line-height: 1rem;
  z-index: 1;
}

/* line 47, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-tooltip-one {
  background-color: #2ecc71;
}

/* line 50, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-tooltip-one:hover {
  text-decoration: underline;
}

/* line 55, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-tooltip-two {
  background-color: #4183d7;
}

/* line 58, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-tooltip-two:hover {
  text-decoration: underline;
}

/* line 63, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-tooltip-three {
  background-color: #926fb1;
}

/* line 66, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-tooltip-three:hover {
  text-decoration: underline;
}

/* line 74, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-news {
  text-align: center;
  width: 100px;
}

/* line 79, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-news-one {
  background-color: #2ecc71;
}

/* line 83, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-news-two {
  background-color: #4183d7;
}

/* line 87, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-news-three {
  background-color: #926fb1;
}

/* line 92, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-aboutus {
  text-decoration: none;
  display: block;
  background-color: #373943;
  margin-bottom: 16px;
}

/* line 121, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.btn-aboutus:hover {
  cursor: pointer;
}

/* line 98, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-aboutus-whychooseus {
  width: 165px;
}

/* line 102, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-aboutus-ourculture {
  width: 140px;
}

/* line 106, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-aboutus:hover {
  text-decoration: none;
  background-color: #0b0b0b;
}

/* line 113, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-reviews {
  margin-bottom: 20px;
  display: block;
}

/* line 117, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-reviews-google {
  width: 160px;
  background-color: #4183d7;
}

/* line 121, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-reviews-google:hover {
  background-color: #166af4;
}

/* line 126, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-reviews-trustpilot {
  width: 180px;
  background-color: #2ecc71;
}

/* line 130, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-reviews-trustpilot:hover {
  background-color: #009b69;
  text-decoration: none;
}

/* line 137, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-software {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1em;
  border-radius: 3px;
  background-color: #4a4c59;
  color: white;
  row-gap: 0.625em;
  text-transform: uppercase;
  padding: 15px 5px;
  color: #fff;
  background-color: #67809f;
}

/* line 149, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-it {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1em;
  border-radius: 3px;
  background-color: #4a4c59;
  color: white;
  row-gap: 0.625em;
  text-transform: uppercase;
  padding: 15px 5px;
  color: #fff;
  background-color: #4183d7;
}

/* line 157, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-dm {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1em;
  border-radius: 3px;
  background-color: #4a4c59;
  color: white;
  row-gap: 0.625em;
  text-transform: uppercase;
  padding: 15px 5px;
  color: #fff;
  background-color: #2ecc71;
}

/* line 165, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-ts {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1em;
  border-radius: 3px;
  background-color: #4a4c59;
  color: white;
  row-gap: 0.625em;
  text-transform: uppercase;
  padding: 15px 5px;
  color: #fff;
  background-color: #d64541;
}

/* line 173, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-wd {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1em;
  border-radius: 3px;
  background-color: #4a4c59;
  color: white;
  row-gap: 0.625em;
  text-transform: uppercase;
  padding: 15px 5px;
  color: #fff;
  background-color: #926fb1;
}

/* line 181, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-cs {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1em;
  border-radius: 3px;
  background-color: #4a4c59;
  color: white;
  row-gap: 0.625em;
  text-transform: uppercase;
  padding: 15px 5px;
  color: #fff;
  background-color: #f62459;
}

/* line 189, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-dt {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1em;
  border-radius: 3px;
  background-color: #4a4c59;
  color: white;
  row-gap: 0.625em;
  text-transform: uppercase;
  padding: 15px 5px;
  color: #fff;
  background-color: #ce4125;
}

/* line 197, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-whyus {
  text-decoration: none;
  padding: 15px;
  background-color: #926fb1;
  font-weight: 400;
}

/* line 121, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.btn-whyus:hover {
  cursor: pointer;
}

/* line 203, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-whyus:hover {
  background-color: #7e57a0;
}

/* line 215, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-subscribe {
  margin-left: 0.625em;
}

/* line 230, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.facebook {
  width: 6.25em;
  height: 3.125em;
  display: block;
  background-color: #25262c;
  align-content: center;
  justify-content: center;
}

/* line 240, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.facebook:hover {
  background-color: #3b5998;
}

/* line 245, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.linkedin {
  background-color: #25262c;
  align-content: center;
  justify-content: center;
  width: 6.25em;
  height: 3.125em;
  display: block;
}

/* line 250, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.linkedin:hover {
  background-color: #0077B5;
}

/* line 255, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.twitter {
  background-color: #25262c;
  align-content: center;
  justify-content: center;
  width: 6.25em;
  height: 3.125em;
  display: block;
}

/* line 260, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.twitter:hover {
  background-color: #1DA1F2;
}

/* line 265, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.instagram {
  background-color: #25262c;
  align-content: center;
  justify-content: center;
  width: 6.25em;
  height: 3.125em;
  display: block;
}

/* line 268, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.instagram:hover {
  background-color: #E1306C;
}

@media (min-width: 1025px) and (max-width: 2000px) {
  /* line 265, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
  .instagram {
    margin-right: 0;
  }
}

/* line 278, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.btn-subscribe {
  flex-direction: row;
  padding-top: 10px;
  padding-right: 50%;
}

/* line 292, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.clients, .partners {
  padding-top: 10%;
  padding-bottom: 50px;
  padding-right: 20px;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  overflow-x: hidden;
}

/* line 302, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.clients img, .partners img {
  filter: grayscale(1);
}

/* line 306, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.clients img:hover, .partners img:hover {
  filter: grayscale(0);
}

/* line 313, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.item {
  display: flex;
  max-height: 70px;
  height: 70px;
  width: auto;
  align-items: center;
  padding: 20px;
}

/* line 329, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.container-hamburger {
  display: table-cell;
  vertical-align: middle;
}

/* line 334, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.hamburger-box {
  display: inline-block;
  width: 33px;
  height: 19px;
  position: relative;
}

/* line 342, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.hamburger-inner {
  left: 0;
  top: 10px;
  content: "";
  display: block;
  position: absolute;
  width: 33px;
  height: 4px;
  background-color: #fff;
  border-radius: 0;
  left: 0;
}

/* line 348, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.hamburger-inner::before {
  content: "";
  display: block;
  position: absolute;
  width: 33px;
  height: 4px;
  background-color: #fff;
  border-radius: 0;
  left: 0;
  top: -10px;
  bottom: 0;
}

/* line 354, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.hamburger-inner::after {
  content: "";
  display: block;
  position: absolute;
  width: 33px;
  height: 4px;
  background-color: #fff;
  border-radius: 0;
  left: 0;
  top: 10px;
}

/* line 361, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.hamburger-spin:hover .hamburger-inner {
  content: "";
  display: block;
  position: absolute;
  width: 33px;
  height: 4px;
  background-color: #fff;
  border-radius: 0;
  left: 0;
  transform: rotate(225deg);
  transition-delay: .12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: .5s ease;
}

/* line 370, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.hamburger-spin:hover .hamburger-inner::before {
  content: "";
  display: block;
  position: absolute;
  width: 33px;
  height: 4px;
  background-color: #fff;
  border-radius: 0;
  left: 0;
  top: 0;
  opacity: 0;
  transition: top .1s ease-out ,opacity .1s ease-out .12s;
  transform: rotate(45deg);
}

/* line 380, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.hamburger-spin:hover .hamburger-inner::before:hover {
  top: 10px;
}

/* line 385, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.hamburger-spin:hover .hamburger-inner::after {
  content: "";
  display: block;
  position: absolute;
  width: 33px;
  height: 4px;
  background-color: #fff;
  border-radius: 0;
  left: 0;
  bottom: 0;
  top: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}

/* line 400, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
#search-submit {
  position: absolute;
  right: 0;
  top: 1%;
  line-height: 47px;
}

/* line 410, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.privacy-policy {
  text-decoration: none;
  text-decoration: underline;
  color: #373943;
}

/* line 121, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.privacy-policy:hover {
  cursor: pointer;
}

/* line 418, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
footer ul li a {
  text-decoration: none;
  color: #fff;
}

/* line 121, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
footer ul li a:hover {
  cursor: pointer;
}

/* line 423, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.li-sitemap a {
  text-decoration: none;
  color: #fff;
}

/* line 121, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.li-sitemap a:hover {
  cursor: pointer;
}

/* line 428, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.client-quote-author a {
  text-decoration: none;
  font-weight: 600;
  color: #a3a5b3;
  color: #fff;
}

/* line 121, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.client-quote-author a:hover {
  cursor: pointer;
}

/* line 436, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.h2 a {
  text-decoration: none;
  color: #25262c;
}

/* line 121, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.h2 a:hover {
  cursor: pointer;
}

/* line 441, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.reviews a {
  text-decoration: none;
}

/* line 121, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.reviews a:hover {
  cursor: pointer;
}

/* line 444, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_buttons.scss */
.reviews a:hover {
  text-decoration: none;
}

/* line 8, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_icons.scss */
.magnifyglass {
  fill: #0b0b0b;
  width: 24px;
  height: 24px;
}

/* line 14, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_icons.scss */
.telephone {
  fill: #25262c;
  padding: 10px 10px;
  width: 32px;
  height: 32px;
  stroke-width: 0;
}

@media (min-width: 1025px) and (max-width: 2000px) {
  /* line 14, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_icons.scss */
  .telephone {
    width: 64px;
    height: 64px;
  }
}

/* line 31, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_icons.scss */
.icon-format-services {
  fill: #fff;
  width: 32px;
  height: 32px;
  margin: 16px;
}

/* line 34, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_icons.scss */
.icon-format-services-telephone {
  width: 38px;
  height: 38px;
  margin-left: 19px;
}

/* line 42, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_icons.scss */
.icon-circle {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  align-self: center;
  margin: 16px;
}

/* line 45, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_icons.scss */
.icon-circle-software {
  background-color: #67809f;
}

/* line 49, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_icons.scss */
.icon-circle-it {
  background-color: #4183d7;
}

/* line 53, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_icons.scss */
.icon-circle-dm {
  background-color: #2ecc71;
}

/* line 57, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_icons.scss */
.icon-circle-ts {
  background-color: #d64541;
}

/* line 61, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_icons.scss */
.icon-circle-wd {
  background-color: #926fb1;
}

/* line 65, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_icons.scss */
.icon-circle-cs {
  background-color: #f62459;
}

/* line 69, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_icons.scss */
.icon-circle-dt {
  background-color: #ce4125;
}

/* line 73, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_icons.scss */
.icon-circle-speechbubble {
  background-color: #25262c;
  margin: 0;
}

/* line 79, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_icons.scss */
.icon-speechbubble {
  display: flex;
  flex-direction: column;
  padding: 0 5px 5px 0;
  margin: 0;
}

/* line 89, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/modules/_icons.scss */
.icon-format-socials {
  fill: #fff;
  width: 32px;
  height: 32px;
  margin-top: 8%;
  margin-left: 33%;
}

/*# sourceMappingURL=application.css.map */