/* line 7, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/articles.scss */
.headings-bar {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
}

/* line 12, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/articles.scss */
.latest-articles {
  background-color: #fff;
}

/* line 16, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/articles.scss */
.readtime {
  display: inline;
  text-transform: uppercase;
  color: rgba(51, 54, 69, 0.5);
  font-size: .85rem;
  vertical-align: middle;
}

/* line 24, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/articles.scss */
.block-one {
  top: 0;
  border: 1px solid #ccc;
  border-radius: 0 0 2% 2%;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative;
  transition: .5s ease;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

/* line 204, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.block-one:hover {
  top: -10px;
  transition: .5s ease;
}

/* line 27, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/articles.scss */
.block-one h3 a {
  color: #2ecc71;
}

/* line 31, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/articles.scss */
.block-one img {
  width: 100%;
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 24, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/articles.scss */
  .block-one {
    width: 50%;
    float: left;
  }
}

/* line 44, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/articles.scss */
.block-two {
  top: 0;
  border: 1px solid #ccc;
  border-radius: 0 0 2% 2%;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative;
  transition: .5s ease;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

/* line 204, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.block-two:hover {
  top: -10px;
  transition: .5s ease;
}

/* line 47, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/articles.scss */
.block-two h3 a {
  color: #4183d7;
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 44, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/articles.scss */
  .block-two {
    width: 50%;
    float: right;
  }
}

/* line 61, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/articles.scss */
.block-three {
  top: 0;
  border: 1px solid #ccc;
  border-radius: 0 0 2% 2%;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative;
  transition: .5s ease;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

/* line 204, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.block-three:hover {
  top: -10px;
  transition: .5s ease;
}

/* line 64, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/articles.scss */
.block-three h3 a {
  color: #926fb1;
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 61, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/articles.scss */
  .block-three {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1259px) {
  /* line 61, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/articles.scss */
  .block-three {
    display: none;
  }
}

@media (min-width: 1260px) {
  /* line 61, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/articles.scss */
  .block-three {
    display: block;
  }
}

/* line 82, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/articles.scss */
.block-content {
  display: block;
  font-size: .8125rem;
  padding: 30px;
  margin-top: -5px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

/* line 88, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/articles.scss */
.block-content p {
  text-wrap: wrap;
  line-height: 1.375rem;
  font-size: .8125rem;
}

/* line 95, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/articles.scss */
.article-content {
  flex-wrap: wrap;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
}

@media (min-width: 320px) and (max-width: 767px) {
  /* line 95, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/articles.scss */
  .article-content {
    flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 95, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/articles.scss */
  .article-content {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/* line 113, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/articles.scss */
.article-blocks {
  display: block;
}

/* line 117, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/articles.scss */
.article-blocks h3 {
  font-size: 1rem;
  line-height: 1.5rem;
}

/* line 121, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/articles.scss */
.article-blocks h3 a {
  text-decoration: none;
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 113, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/articles.scss */
  .article-blocks {
    display: flex;
  }
}

@media (min-width: 992px) and (max-width: 1259px) {
  /* line 113, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/articles.scss */
  .article-blocks {
    display: flex;
  }
}

@media (min-width: 1260px) {
  /* line 113, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/articles.scss */
  .article-blocks {
    display: flex;
  }
}

/* line 140, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/articles.scss */
a.article-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  text-decoration: none;
  text-align: left;
  font-size: 13px;
  color: palette(grey, xx-light);
}

/* line 154, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/articles.scss */
a.article-link:hover {
  text-decoration: none;
}

/* line 160, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/articles.scss */
.latest-articles {
  padding-left: 0;
}

/* line 164, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/articles.scss */
.user {
  display: table;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #ccc;
}

/* line 170, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/articles.scss */
.user > * {
  display: table-cell;
  vertical-align: middle;
}

/* line 175, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/articles.scss */
.user > .avatar {
  width: 20%;
  border-radius: 50%;
  overflow: hidden;
}

/* line 182, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/articles.scss */
.info {
  padding-left: 20px;
  line-height: 1.375rem;
}

/*# sourceMappingURL=articles.css.map */