/* line 10, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/brand-reviews.scss */
.homepage-branded-text h2 {
  margin-bottom: 40px;
}

/* line 15, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/brand-reviews.scss */
.background-color-grey {
  background-color: #323544;
}

/* line 19, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/brand-reviews.scss */
.background-color-lightgrey {
  background-color: #ddd;
}

/* line 23, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/brand-reviews.scss */
.background-color-darkgrey {
  background-color: #212330;
}

/* line 27, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/brand-reviews.scss */
.brand-bg {
  color: #fff;
}

/* line 32, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/brand-reviews.scss */
.brand-bg h2 {
  color: #fff;
  font-size: 2.25rem;
}

@media (min-width: 992px) and (max-width: 1259px) {
  /* line 27, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/brand-reviews.scss */
  .brand-bg {
    float: left;
    padding-right: 15px;
    width: 50%;
  }
}

@media (min-width: 1260px) {
  /* line 27, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/brand-reviews.scss */
  .brand-bg {
    float: left;
    padding-right: 15px;
    width: 50%;
  }
}

/* line 53, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/brand-reviews.scss */
.reviews-bg {
  color: #fff;
}

/* line 57, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/brand-reviews.scss */
.reviews-bg strong {
  font-size: 2.25rem;
}

/* line 61, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/brand-reviews.scss */
.reviews-bg h2 {
  color: #fff;
  font-size: 2rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  /* line 53, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/brand-reviews.scss */
  .reviews-bg {
    margin-top: 30px;
  }
}

@media (min-width: 992px) and (max-width: 1259px) {
  /* line 53, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/brand-reviews.scss */
  .reviews-bg {
    display: inline-block;
    width: 50%;
    padding-left: 15px;
    height: 666px;
  }
}

@media (min-width: 1260px) {
  /* line 53, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/brand-reviews.scss */
  .reviews-bg {
    display: inline-block;
    width: 50%;
    padding-left: 15px;
  }
}

/* line 83, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/brand-reviews.scss */
.client-quote {
  font-style: italic;
  font-size: 1.3rem;
  font-weight: 600;
}

/* line 89, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/brand-reviews.scss */
.client-quote-author {
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: .4px;
  color: #a3a8ac;
}

/* line 96, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/brand-reviews.scss */
.reviews {
  display: block;
  flex-direction: column;
}

@media (min-width: 992px) and (max-width: 1259px) {
  /* line 96, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/brand-reviews.scss */
  .reviews {
    margin-top: 60px;
  }
}

@media (min-width: 1260px) {
  /* line 96, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/brand-reviews.scss */
  .reviews {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
}

/* line 116, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/brand-reviews.scss */
.aboutus {
  display: block;
  flex-direction: column;
}

@media (min-width: 1260px) {
  /* line 116, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/brand-reviews.scss */
  .aboutus {
    gap: 15px;
    flex-direction: row;
  }
}

/* line 129, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/brand-reviews.scss */
.star {
  display: inline-block;
  font-size: 50px;
}

/*# sourceMappingURL=brand-reviews.css.map */