/* line 7, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service {
  background-color: #fff;
}

/* line 12, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-title .h1 {
  font-size: 2.7rem;
  margin-top: -13px;
  color: #333645;
}

@media (min-width: 992px) and (max-width: 1259px) {
  /* line 18, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
  .service-blocks {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}

@media (min-width: 1260px) {
  /* line 18, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
  .service-blocks {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}

/* line 30, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-link {
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  text-align: center;
}

/* line 40, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-link h1 {
  color: palette(grey, x-dark);
}

/* line 44, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-link > span.h2 {
  padding-bottom: 10px;
}

/* line 50, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-one {
  top: 0;
  border: 1px solid #ccc;
  border-radius: 0 0 2% 2%;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative;
  transition: .5s ease;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  border-radius: 15px;
  text-align: center;
}

/* line 204, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-one:hover {
  top: -10px;
  transition: .5s ease;
}

/* line 217, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-one .h2 {
  font-size: 1.3rem;
  position: relative;
  padding-top: 0;
  padding-bottom: 10px;
  margin: 0 0 11px;
}

/* line 225, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-one .p {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: .8125rem;
  line-height: 1.375rem;
}

/* line 233, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-one .btn {
  font-size: 1.063rem;
  margin-bottom: 0;
  line-height: 35px;
  align-self: center;
}

/* line 54, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-one:hover {
  background-color: #67809f;
  color: #fff;
}

/* line 58, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-one:hover .btn-software {
  background-color: #fff;
  color: #67809f;
}

/* line 63, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-one:hover .icon-circle-software {
  color: #67809f;
  background-color: #fff;
}

/* line 68, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-one:hover .icon-apps1 {
  color: #67809f;
  background-color: #fff;
}

/* line 79, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-two {
  top: 0;
  border: 1px solid #ccc;
  border-radius: 0 0 2% 2%;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative;
  transition: .5s ease;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  border-radius: 15px;
}

/* line 204, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-two:hover {
  top: -10px;
  transition: .5s ease;
}

/* line 217, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-two .h2 {
  font-size: 1.3rem;
  position: relative;
  padding-top: 0;
  padding-bottom: 10px;
  margin: 0 0 11px;
}

/* line 225, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-two .p {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: .8125rem;
  line-height: 1.375rem;
}

/* line 233, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-two .btn {
  font-size: 1.063rem;
  margin-bottom: 0;
  line-height: 35px;
  align-self: center;
}

/* line 82, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-two:hover {
  background-color: #4183d7;
  color: #fff;
}

/* line 86, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-two:hover .btn-it {
  background-color: #fff;
  color: #4183d7;
}

/* line 91, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-two:hover .icon-circle-it {
  fill: #4183d7;
  background-color: #fff;
}

/* line 96, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-two:hover .icon-monitor1 {
  color: #4183d7;
  background-color: #fff;
}

/* line 106, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-three {
  top: 0;
  border: 1px solid #ccc;
  border-radius: 0 0 2% 2%;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative;
  transition: .5s ease;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  border-radius: 15px;
}

/* line 204, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-three:hover {
  top: -10px;
  transition: .5s ease;
}

/* line 217, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-three .h2 {
  font-size: 1.3rem;
  position: relative;
  padding-top: 0;
  padding-bottom: 10px;
  margin: 0 0 11px;
}

/* line 225, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-three .p {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: .8125rem;
  line-height: 1.375rem;
}

/* line 233, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-three .btn {
  font-size: 1.063rem;
  margin-bottom: 0;
  line-height: 35px;
  align-self: center;
}

/* line 109, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-three:hover {
  background-color: #2ecc71;
  color: #fff;
}

/* line 113, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-three:hover .btn-dm {
  background-color: #fff;
  color: #2ecc71;
}

/* line 118, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-three:hover .icon-circle-dm {
  fill: #2ecc71;
  background-color: #fff;
}

/* line 123, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-three:hover .icon-bar-graph1 {
  color: #2ecc71;
  background-color: #fff;
}

/* line 131, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-four {
  top: 0;
  border: 1px solid #ccc;
  border-radius: 0 0 2% 2%;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative;
  transition: .5s ease;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  border-radius: 15px;
}

/* line 204, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-four:hover {
  top: -10px;
  transition: .5s ease;
}

/* line 217, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-four .h2 {
  font-size: 1.3rem;
  position: relative;
  padding-top: 0;
  padding-bottom: 10px;
  margin: 0 0 11px;
}

/* line 225, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-four .p {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: .8125rem;
  line-height: 1.375rem;
}

/* line 233, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-four .btn {
  font-size: 1.063rem;
  margin-bottom: 0;
  line-height: 35px;
  align-self: center;
}

/* line 134, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-four:hover {
  background-color: #d64541;
  color: #fff;
}

/* line 138, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-four:hover .btn-ts {
  background-color: #fff;
  color: #d64541;
}

/* line 143, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-four:hover .icon-circle-ts {
  fill: #d64541;
  background-color: #fff;
}

/* line 148, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-four:hover .icon-phone_in_talk {
  color: #d64541;
  background-color: #fff;
}

/* line 155, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-five {
  top: 0;
  border: 1px solid #ccc;
  border-radius: 0 0 2% 2%;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative;
  transition: .5s ease;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  border-radius: 15px;
}

/* line 204, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-five:hover {
  top: -10px;
  transition: .5s ease;
}

/* line 217, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-five .h2 {
  font-size: 1.3rem;
  position: relative;
  padding-top: 0;
  padding-bottom: 10px;
  margin: 0 0 11px;
}

/* line 225, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-five .p {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: .8125rem;
  line-height: 1.375rem;
}

/* line 233, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-five .btn {
  font-size: 1.063rem;
  margin-bottom: 0;
  line-height: 35px;
  align-self: center;
}

/* line 158, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-five:hover {
  background-color: #926fb1;
  color: #fff;
}

/* line 162, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-five:hover .btn-wd {
  background-color: #fff;
  color: #926fb1;
}

/* line 167, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-five:hover .icon-circle-wd {
  fill: #926fb1;
  background-color: #fff;
}

/* line 172, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-five:hover .icon-code {
  color: #926fb1;
  background-color: #fff;
}

/* line 179, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-six {
  top: 0;
  border: 1px solid #ccc;
  border-radius: 0 0 2% 2%;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative;
  transition: .5s ease;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  border-radius: 15px;
}

/* line 204, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-six:hover {
  top: -10px;
  transition: .5s ease;
}

/* line 217, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-six .h2 {
  font-size: 1.3rem;
  position: relative;
  padding-top: 0;
  padding-bottom: 10px;
  margin: 0 0 11px;
}

/* line 225, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-six .p {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: .8125rem;
  line-height: 1.375rem;
}

/* line 233, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-six .btn {
  font-size: 1.063rem;
  margin-bottom: 0;
  line-height: 35px;
  align-self: center;
}

/* line 182, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-six:hover {
  background-color: #f62459;
  color: #fff;
}

/* line 186, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-six:hover .btn-cs {
  background-color: #fff;
  color: #f62459;
}

/* line 191, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-six:hover .icon-circle-cs {
  fill: #f62459;
  background-color: #fff;
}

/* line 196, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-six:hover .icon-security {
  color: #f62459;
  background-color: #fff;
}

/* line 205, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-seven {
  top: 0;
  border: 1px solid #ccc;
  border-radius: 0 0 2% 2%;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative;
  transition: .5s ease;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  border-radius: 15px;
}

/* line 204, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-seven:hover {
  top: -10px;
  transition: .5s ease;
}

/* line 217, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-seven .h2 {
  font-size: 1.3rem;
  position: relative;
  padding-top: 0;
  padding-bottom: 10px;
  margin: 0 0 11px;
}

/* line 225, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-seven .p {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: .8125rem;
  line-height: 1.375rem;
}

/* line 233, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-seven .btn {
  font-size: 1.063rem;
  margin-bottom: 0;
  line-height: 35px;
  align-self: center;
}

/* line 208, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-seven:hover {
  background-color: #ce4125;
  color: #fff;
}

/* line 212, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-seven:hover .btn-dt {
  background-color: #fff;
  color: #ce4125;
}

/* line 217, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-seven:hover .icon-circle-dt {
  fill: #ce4125;
  background-color: #fff;
}

/* line 222, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-seven:hover .icon-school {
  color: #ce4125;
  background-color: #fff;
}

@media (min-width: 992px) and (max-width: 1259px) {
  /* line 205, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
  .service-block-seven {
    grid-column: 2;
    grid-row: 3;
  }
}

@media (min-width: 1260px) {
  /* line 205, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
  .service-block-seven {
    grid-column: 2;
    grid-row: 3;
  }
}

/*# sourceMappingURL=services.css.map */