/* line 7, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service {
  background-color: #fff;
}

/* line 12, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-list h2 {
  font-size: 2.7rem;
}

/* line 16, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-list h3 {
  font-size: 1.625rem;
}

/* line 22, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-title .h1 {
  font-size: 2.7rem;
  margin-top: -13px;
  color: #333645;
}

@media (min-width: 992px) and (max-width: 1259px) {
  /* line 28, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
  .service-blocks {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}

@media (min-width: 1260px) {
  /* line 28, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
  .service-blocks {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 40, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
  .service-blocks-bottom {
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media (min-width: 992px) and (max-width: 1259px) {
  /* line 40, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
  .service-blocks-bottom {
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media (min-width: 1260px) {
  /* line 40, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
  .service-blocks-bottom {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
}

/* line 57, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-link {
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  text-align: center;
}

/* line 67, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-link h1 {
  color: palette(grey, x-dark);
}

/* line 71, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-link > span.h2 {
  padding-bottom: 10px;
}

/* line 77, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-one {
  top: 0;
  border: 1px solid #ccc;
  border-radius: 0 0 3px 3px;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative;
  transition: .5s ease;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  max-width: 720px;
  padding: 30px;
  display: flex;
  border-radius: 15px;
  text-align: center;
}

/* line 216, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-one:hover {
  top: -10px;
  transition: .5s ease;
}

/* line 230, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-one .h2 {
  font-size: 1.3rem;
  position: relative;
  padding-top: 0;
  padding-bottom: 10px;
  margin: 0 0 11px;
}

/* line 238, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-one .p {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: .8125rem;
  line-height: 1.375rem;
}

/* line 246, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-one .btn {
  min-width: 130px;
  max-width: 130px;
  font-size: 1.063rem;
  margin-bottom: 0;
  line-height: 35px;
  align-self: center;
}

@media (min-width: 992px) and (max-width: 1259px) {
  /* line 77, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
  .service-block-one {
    margin-right: 30px;
  }
}

@media (min-width: 1260px) {
  /* line 77, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
  .service-block-one {
    margin-right: 30px;
  }
}

/* line 89, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-one:hover {
  background-color: #67809f;
  color: #fff;
}

/* line 93, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-one:hover .btn-software {
  background-color: #fff;
  color: #67809f;
}

/* line 98, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-one:hover .icon-circle-software {
  color: #67809f;
  background-color: #fff;
}

/* line 103, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-one:hover .icon-laptop {
  color: #67809f;
  background-color: #fff;
}

/* line 114, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-two {
  top: 0;
  border: 1px solid #ccc;
  border-radius: 0 0 3px 3px;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative;
  transition: .5s ease;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  max-width: 720px;
  padding: 30px;
  display: flex;
  border-radius: 15px;
}

/* line 216, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-two:hover {
  top: -10px;
  transition: .5s ease;
}

/* line 230, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-two .h2 {
  font-size: 1.3rem;
  position: relative;
  padding-top: 0;
  padding-bottom: 10px;
  margin: 0 0 11px;
}

/* line 238, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-two .p {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: .8125rem;
  line-height: 1.375rem;
}

/* line 246, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-two .btn {
  min-width: 130px;
  max-width: 130px;
  font-size: 1.063rem;
  margin-bottom: 0;
  line-height: 35px;
  align-self: center;
}

@media (min-width: 992px) and (max-width: 1259px) {
  /* line 114, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
  .service-block-two {
    margin-right: 30px;
  }
}

@media (min-width: 1260px) {
  /* line 114, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
  .service-block-two {
    margin-right: 30px;
  }
}

/* line 125, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-two:hover {
  background-color: #4183d7;
  color: #fff;
}

/* line 129, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-two:hover .btn-it {
  background-color: #fff;
  color: #4183d7;
}

/* line 134, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-two:hover .icon-circle-it {
  fill: #4183d7;
  background-color: #fff;
}

/* line 139, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-two:hover .icon-display {
  color: #4183d7;
  background-color: #fff;
}

/* line 149, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-three {
  top: 0;
  border: 1px solid #ccc;
  border-radius: 0 0 3px 3px;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative;
  transition: .5s ease;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  max-width: 720px;
  padding: 30px;
  display: flex;
  border-radius: 15px;
}

/* line 216, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-three:hover {
  top: -10px;
  transition: .5s ease;
}

/* line 230, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-three .h2 {
  font-size: 1.3rem;
  position: relative;
  padding-top: 0;
  padding-bottom: 10px;
  margin: 0 0 11px;
}

/* line 238, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-three .p {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: .8125rem;
  line-height: 1.375rem;
}

/* line 246, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-three .btn {
  min-width: 130px;
  max-width: 130px;
  font-size: 1.063rem;
  margin-bottom: 0;
  line-height: 35px;
  align-self: center;
}

@media (min-width: 1260px) {
  /* line 153, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
  .service-block-three .p {
    margin-bottom: 40px;
  }
}

/* line 157, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-three:hover {
  background-color: #2ecc71;
  color: #fff;
}

/* line 161, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-three:hover .btn-dm {
  background-color: #fff;
  color: #2ecc71;
}

/* line 166, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-three:hover .icon-circle-dm {
  fill: #2ecc71;
  background-color: #fff;
}

/* line 171, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-three:hover .icon-bar-graph {
  color: #2ecc71;
  background-color: #fff;
}

/* line 179, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-four {
  top: 0;
  border: 1px solid #ccc;
  border-radius: 0 0 3px 3px;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative;
  transition: .5s ease;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  max-width: 720px;
  padding: 30px;
  display: flex;
  border-radius: 15px;
}

/* line 216, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-four:hover {
  top: -10px;
  transition: .5s ease;
}

/* line 230, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-four .h2 {
  font-size: 1.3rem;
  position: relative;
  padding-top: 0;
  padding-bottom: 10px;
  margin: 0 0 11px;
}

/* line 238, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-four .p {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: .8125rem;
  line-height: 1.375rem;
}

/* line 246, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-four .btn {
  min-width: 130px;
  max-width: 130px;
  font-size: 1.063rem;
  margin-bottom: 0;
  line-height: 35px;
  align-self: center;
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 179, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
  .service-block-four {
    margin-right: 15px;
  }
}

@media (min-width: 992px) and (max-width: 1259px) {
  /* line 179, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
  .service-block-four {
    margin-right: 15px;
  }
}

@media (min-width: 1260px) {
  /* line 179, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
  .service-block-four {
    margin-right: 15px;
  }
}

/* line 194, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-four:hover {
  background-color: #d64541;
  color: #fff;
}

/* line 198, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-four:hover .btn-ts {
  background-color: #fff;
  color: #d64541;
}

/* line 203, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-four:hover .icon-circle-ts {
  fill: #d64541;
  background-color: #fff;
}

/* line 208, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-four:hover .icon-phone-call {
  color: #d64541;
  background-color: #fff;
}

/* line 215, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-five {
  top: 0;
  border: 1px solid #ccc;
  border-radius: 0 0 3px 3px;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative;
  transition: .5s ease;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  max-width: 720px;
  padding: 30px;
  display: flex;
  border-radius: 15px;
}

/* line 216, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-five:hover {
  top: -10px;
  transition: .5s ease;
}

/* line 230, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-five .h2 {
  font-size: 1.3rem;
  position: relative;
  padding-top: 0;
  padding-bottom: 10px;
  margin: 0 0 11px;
}

/* line 238, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-five .p {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: .8125rem;
  line-height: 1.375rem;
}

/* line 246, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-five .btn {
  min-width: 130px;
  max-width: 130px;
  font-size: 1.063rem;
  margin-bottom: 0;
  line-height: 35px;
  align-self: center;
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 215, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
  .service-block-five {
    margin-left: 15px;
  }
}

@media (min-width: 992px) and (max-width: 1259px) {
  /* line 215, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
  .service-block-five {
    margin-left: 15px;
  }
}

@media (min-width: 1260px) {
  /* line 215, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
  .service-block-five {
    margin-left: 15px;
    margin-right: 15px;
  }
}

/* line 231, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-five:hover {
  background-color: #926fb1;
  color: #fff;
}

/* line 235, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-five:hover .btn-wd {
  background-color: #fff;
  color: #926fb1;
}

/* line 240, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-five:hover .icon-circle-wd {
  fill: #926fb1;
  background-color: #fff;
}

/* line 245, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-five:hover .icon-embed {
  color: #926fb1;
  background-color: #fff;
}

/* line 252, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-six {
  top: 0;
  border: 1px solid #ccc;
  border-radius: 0 0 3px 3px;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative;
  transition: .5s ease;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  max-width: 720px;
  padding: 30px;
  display: flex;
  border-radius: 15px;
}

/* line 216, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-six:hover {
  top: -10px;
  transition: .5s ease;
}

/* line 230, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-six .h2 {
  font-size: 1.3rem;
  position: relative;
  padding-top: 0;
  padding-bottom: 10px;
  margin: 0 0 11px;
}

/* line 238, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-six .p {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: .8125rem;
  line-height: 1.375rem;
}

/* line 246, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-six .btn {
  min-width: 130px;
  max-width: 130px;
  font-size: 1.063rem;
  margin-bottom: 0;
  line-height: 35px;
  align-self: center;
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 252, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
  .service-block-six {
    margin-right: 15px;
  }
}

@media (min-width: 992px) and (max-width: 1259px) {
  /* line 252, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
  .service-block-six {
    margin-right: 15px;
  }
}

@media (min-width: 1260px) {
  /* line 252, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
  .service-block-six {
    margin-left: 15px;
    margin-right: 15px;
  }
  /* line 267, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
  .service-block-six .btn-cs {
    margin-left: 0;
  }
}

/* line 272, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-six:hover {
  background-color: #f62459;
  color: #fff;
}

/* line 276, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-six:hover .btn-cs {
  background-color: #fff;
  color: #f62459;
}

/* line 281, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-six:hover .icon-circle-cs {
  fill: #f62459;
  background-color: #fff;
}

/* line 286, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-six:hover .icon-security {
  color: #f62459;
  background-color: #fff;
}

/* line 295, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-seven {
  top: 0;
  border: 1px solid #ccc;
  border-radius: 0 0 3px 3px;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative;
  transition: .5s ease;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  max-width: 720px;
  padding: 30px;
  display: flex;
  border-radius: 15px;
}

/* line 216, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-seven:hover {
  top: -10px;
  transition: .5s ease;
}

/* line 230, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-seven .h2 {
  font-size: 1.3rem;
  position: relative;
  padding-top: 0;
  padding-bottom: 10px;
  margin: 0 0 11px;
}

/* line 238, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-seven .p {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: .8125rem;
  line-height: 1.375rem;
}

/* line 246, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/utilities/_mixins.scss */
.service-block-seven .btn {
  min-width: 130px;
  max-width: 130px;
  font-size: 1.063rem;
  margin-bottom: 0;
  line-height: 35px;
  align-self: center;
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 295, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
  .service-block-seven {
    margin-left: 15px;
  }
}

@media (min-width: 992px) and (max-width: 1259px) {
  /* line 295, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
  .service-block-seven {
    margin-left: 15px;
  }
}

@media (min-width: 1260px) {
  /* line 295, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
  .service-block-seven {
    margin-left: 15px;
  }
}

/* line 310, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-seven:hover {
  background-color: #ce4125;
  color: #fff;
}

/* line 314, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-seven:hover .btn-dt {
  background-color: #fff;
  color: #ce4125;
}

/* line 319, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-seven:hover .icon-circle-dt {
  fill: #ce4125;
  background-color: #fff;
}

/* line 324, D:/Documents/GitHub/HTML-And-CSS-Assignment/scss/layout/services.scss */
.service-block-seven:hover .icon-mortar-board {
  color: #ce4125;
  background-color: #fff;
}

/*# sourceMappingURL=services.css.map */