// ==========================================================================
// Global Config
// ==========================================================================

// Descriptive Base Colors

$white: #fff;
$black: #0b0b0b;
$grey: #4a4c59;
$blue: #4183d7;
$dark-blue: #166af4;
$blue-button: #4387f6; 
$light-blue: #5bc0de;
$green: #2ecc71;
$green-d: #00b67b;

$default-text: #464d5c;

$purple: #926fb1;
$dark-purple: #7e57a0;
$grey-blue: #67809f;
$red: #d64541;
$red-hover: #c42e2a;
$red-hover-border: #b32a27;
$red-light: #f62459;
$red-light-hover: #e80a42;
$red-light-hover-border: #d4093c;
$red-tomato: #ce4125;
$grey-xd: #212330;
$grey-d: #323544;
$grey-d-button: #272936;
$grey-d-button-hover: #121318;
$grey-base: #ddd;
$grey-label: #333645;
$grey-xl: #a3a8ac;
$grey-cookie: #75788a;
$grey-cookie-light: #999aa2;
$grey-cookie-line: #e5e5e5;
$grey-contact-hover-bg: #84858f;
$grey-contact-hover-border: #797a85;
$grey-search-hover: #7e808a;
$grey-subscribe-hover-bg: #22242e;
$grey-subscribe-hover-border: #191a22;
$grey-form-bg: #e6e7e9;

$green-d-hover: #009b69;
$green-hover: #26ab5f;
$green-hover-border: #239a55; 
$grey-blue-hover: #566c88;
$grey-blue-hover-border: #4e627b;
$blue-hover: #2a6ec6;
$blue-hover-border: #2665b5;
$purple-hover: #7e57a0;
$purple-hover-border: #735093;

$blue-banner: #526781;
$skyblue-banner: #286abd;
$green-banner: #25a25a;
$red-banner: #bc2c28;
$purple-banner: #79539a;
$red-light-banner: #de093f;
$tomato-banner: #a3331d;
$grey-dots: #869791;
$red-danger: #a94442;

$facebook-color: #3b5998;
$twitter-color: #1DA1F2;
$linkedin-color: #0077B5;
$instagram-color: #E1306C;


// Font Stacks

$font-url--google: 'http://fonts.googleapis.com/css?family=Poppins:100,300,400,700,900';
$font-family--primary: 'Poppins', sans-serif;


// Font Defaults

$base-font-size: 16px;
$font-size-xs: 8px;
$font-size-s: 13px;
$font-size-l: 24px;
$font-size-xl: 36px;
$font-size-xxl: 64px;

// Font Weights

$base-font-weight: 400;
$font-weight-xl: 100;
$font-weight-l: 200;
$font-weight-d: 600;
$font-weight-xd: 700;


// Viewport Breakpoints


$brkpoint-sm: 320px;
$brkpoint-smd: 480px;
$brkpoint-md: 768px;
$brkpoint-lg: 992px;
$brkpoint-xlg: 1260px;

// Color Palette Modifiers

$color-palettes: (
    grey: (
        example: rgb(128,128,128),
        xxx-light: lighten($grey, 1%),
        xx-light: lighten($grey, 43%),
        x-light: lighten($grey, 35%),
        light: lighten($grey, 12%),
        base: $grey,
        dark: darken($grey, 8%),
        x-dark: darken($grey, 16%),
        
    ),
    black: (
        light: lighten($black, 10%),
        base: $black,
        dark: darken($black, 10%)
    )
);

// Path to Image Assets folder

$path-rel: "../img";



