// ==========================================================================
// Mixins
// ==========================================================================

// Media Queries

@mixin viewport($break) {
    
    @if $break == "small" { // small generally used for mobile phones
        @media (min-width: $brkpoint-sm) and (max-width: #{$brkpoint-md - 1}) { // between 320px and 767px
            @content;
        }
    }
    @else if $break == "medium" { 
        @media (min-width: $brkpoint-md) and (max-width: #{$brkpoint-lg - 1}) { // between 768px and 991px
            @content;
        }
    }
    @else if $break == "large" { // large generally used for desktop monitors
        @media (min-width: $brkpoint-lg) and (max-width: #{$brkpoint-xlg - 1}) { // between 992px and 1259px
            @content;
        }
    }
    @else if $break == "x-large" { // extra large
        @media (min-width: $brkpoint-xlg) { // greater than 1260px
            @content;
        }
    }
    @else {
        @error "No value could be retrieved for break for `#{$break}`";
    }

    @if $break == "smedium" {
        @media (max-width: $brkpoint-smd) {
            @content;
        }
    }
}


// Image

@mixin img-replace($img, $w, $h, $disp: block) {
	background-image: url('#{$path-rel}/#{$img}');
	background-repeat: no-repeat;
	width: $w;
	height: $h;
	display: $disp;
}

@mixin img-sizing($w, $h, $disp: block) {
    width: $w;
    height: $h;
    display: $disp;
}


// Button

@mixin hamburger() {
    content: "";
    display:block;
    position: absolute;
    width: 33px;
    height: 4px;
    background-color: $white;
    border-radius: 0;
    left: 0;
}

@mixin btn-format() {
    height: auto;
    line-height: 35px;
    padding: 5px 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: em($base-font-size);
    border-radius: 3px;
    background-color: palette(grey, base);
    color: white;
    row-gap: em(10px);
    
}

@mixin search-format() {
    background-color: rgba(0,0,0,.1);
    outline: rgba(0,0,0,.1);
    border: 2px solid rgba(0,0,0,.1);
}

@mixin btn-format-servies() {
    text-transform: uppercase;
    padding: 15px 5px;
    color: $white;
}

@mixin btn-format-socials() {
    background-color: palette(grey, x-dark);
    align-content: center;
    justify-content: center;
}


// Icons

@mixin icon-format-services() {
    fill: $white;
    width: 32px;
    height: 32px;
    margin: 16px;
}

@mixin icon-format-socials() {
    fill: $white;
    width: 32px;
    height: 32px;
    margin-top: 8%;
    margin-left: 33%;
}

@mixin icon-format-nav {
    fill: $white;
    width: 24px;
    height: 24px;
    margin: 8px;
}

@mixin icon-circle() {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    align-self: center;
    margin: 16px;
}

// Anchors 

@mixin a-format() {
    text-decoration: none;
    
    &:hover {
        cursor: pointer;
    }
}


// Textfields

@mixin textfield-format() {
    height: 47px;
    padding: 5px 15px;
    border-color: palette(grey, xxx-light);//#ccc;
    width: 95%;
    background-color: $white;
    background-image: none;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color .15s
                ease-in-out,
                box-shadow .15s
                ease-in-out; 
}

// Article Blocks

@mixin articleblock-format() {
    top:0;
    border: 1px solid palette(grey, x-light);
    border-radius: 0 0 2% 2%;
    flex-direction: column;
    
    margin: 20px 20px;
    position: relative;
    transition: .5s ease;

    &:hover {
        top:-10px;
        transition: .5s ease;
      }
    
}

// Services Blocks

@mixin serviceblock-format() {
    display: flex;
    top:0;
    border: 1px solid palette(grey, x-light);
    border-radius: 0 0 2% 2%;
    flex-direction: column;
    
    margin: 20px 20px;
    position: relative;
    transition: .5s ease;

    &:hover {
        top:-10px;
        transition: .5s ease;
      }
}
