// ==========================================================================
// Mixins
// ==========================================================================

// Media Queries

@mixin viewport($break) {
    
    @if $break == "small" { // small generally used for mobile phones
        @media (min-width: $brkpoint-sm) and (max-width: $brkpoint-md) {
            @content;
        }
    }
    @else if $break == "medium" { // medium generally used for laptops/tablets
        @media (min-width: #{$brkpoint-md + 1}) and (max-width: $brkpoint-lg) {
            @content;
        }
    }
    @else if $break == "large" { // large generally used for desktop monitors
        @media (min-width: #{$brkpoint-lg + 1}) and (max-width: $brkpoint-xlg) {
            @content;
        }
    }
    @else {
        @error "No value could be retrieved for break for `#{$break}`";
    }
}


// Image

@mixin img-replace($img, $w, $h, $disp: block) {
	background-image: url('#{$path-rel}/#{$img}');
	background-repeat: no-repeat;
	width: $w;
	height: $h;
	display: $disp;
}

@mixin img-sizing($w, $h, $disp: block) {
    width: $w;
    height: $h;
    display: $disp;
}

// Button

@mixin btn-format() {
    height: auto;
    line-height: 35px;
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: em($base-font-size);
    border-radius: 3px;
    background-color: palette(grey, base);
    color: white;
    row-gap: em(10px);
    
}

@mixin btn-format-socials() {
    background-color: palette(grey, x-dark);
    align-content: center;
    justify-content: center;
}

