// ==========================================================================
// Container
// ==========================================================================

#container {
  position: relative;
  height: 100%;
  overflow: hidden;
}

#greetingContainer {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 100;

  .speechbubble {
    position: absolute;
    width: 100px;
    fill: $white;
  }
}

#middle {

  // @include viewport(small) {
  //   margin-top: 165px;
  // }

  // @include viewport(medium) {
  //   margin-top: 100px;
  // }
  // @include viewport(large) {
  //   margin-top: 15px;
  // }

  // @include viewport(x-large) {
  //   margin-top: 100px;
  // }
}


.manage-consent-bar {
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: palette(grey, light);
  color: $white;
  border: solid palette(grey, light);
  border-width: 1px 1px 0 0;
  border-radius: 0;
  border-top-right-radius: 10px;
  padding: 0 10px;
  cursor: pointer;
  font-size: $font-size-s;

  &:hover {
    background: palette(grey, x-light);
    border: none;
  }
}

.container {
 
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  &::before {
    content:" ";
    display: table;
  }

  &-sidebar {
    padding: 21px;

    @include viewport(large) {
      display: none;
    }

    @include viewport(x-large) {
      display: none;
    }
  }


  &-banner {
    width: 100%;
    background-color: $black;
  }

  & img {
    height: 100%;
    width: 100%;
  }

  &-header{
    background-color: $white;
  }

  &-footer {
    background-color: $grey-d;
  }
  
  &>ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include viewport(medium) {
    width: 750px;
  }

   @include viewport(large) {
    width: 970px;
   }

  @include viewport(x-large) {
    width: 1200px;
  }
}



.logo-container {
  display: table;
  table-layout: fixed;
  
  @include viewport(medium) {
    height:10px;
  }
}

.container-mobile {
  display: table-cell;
  vertical-align: middle;

  & a {
    text-decoration: none;
    font-size: 32px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    color: $grey-label;
  }
}

.container-hamburger {
  display: table-cell;
  vertical-align: middle;
}


.row {
  // display: flex;
  width: 100%;

  @include viewport(small) {
    flex-direction: column;
  }

  @include viewport(medium) {
    flex-direction: column;
  }

  @include viewport(large) {
    flex-direction: row;
  }
}

.main {
  background-color: $white;
  position: relative;
  transition: all .5s;
  z-index: 10;
  left: 0;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0,0,0,.4);
    z-index: 10;
  }
}

.inner {
  padding: 20px 0;
}

.partners {
  @extend .clients;
  margin-bottom: 50px;
}

.link-icon-container {
  display: flex;
  justify-content: left;
  align-items: center;
  min-width: 25px;
}

.flex-space-between {
  display: flex;
  align-items: center;
}
