// ==========================================================================
// Container
// ==========================================================================


.container {
  max-width: em(990px);
  margin: 0 auto;
  padding: 0 em(15px) 0 em(15px);
  background-color: grey;
}


// Footer classes
.footer {
  display:flexbox;
  padding-top: 20%;
 
  
}

.footer-company-info {
  background-color: black;
  color:white;
  @include mq(small) {
    background-color: green;
  }
  @include mq(medium) {
    background-color: orange;
  }
  @include mq(large) {
    background-color: maroon;
  }
}

.footer-socials {
  color:white;
}

.btn {
  color: white;
}

.footer-{

}

.footer-bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  left: 0;
  background-color: palette(grey, x-dark);
}

.licence {
  font-size: $font-size-s;
  background-color: $grey;
  color: $white;
}