// ==========================================================================
// Footers
// ==========================================================================

footer {
  background-color: $grey-d;
  padding: 27px 0 0;
  & ul {
    list-style: none;
    padding: 0;
    margin: 0;

    & a:hover {
      text-decoration: underline;
    }
  }

  & li {
    font-size: .8125rem;
    line-height: 1.375rem;
  }

  & h4 {
    color: $white;
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 26px;
  }
}


.footer {
    display: flex;
    position: relative;
    padding-top: 20%;
   
    &-bottom {
      width: 100%;
      justify-content: space-between;
      left: 0;
      background-color: palette(grey, x-dark);
     
    }
  
    &-company-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      color: $white;
  
      @include viewport(x-large) {
        justify-content: flex-start;
      }

      & h4 {
        margin-top: 24px;
      }
    }
  
    &-socials {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: em(10px);
      color: $white;
      margin-bottom: 30px;
  
      @include viewport(medium) {
        flex-direction: row;
      }
    }
  
    &-row{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
  
      @include viewport(small) {
        flex-direction: column;
      }
  
      @include viewport(medium) {
  
      }
  
      @include viewport(large) {
        
        flex-direction: row;
      }
    }
  
    &-logo  {
      vertical-align: middle;
      width: 250px;
  
      & img {
        width: 100%;
      }
    }
  
   &-menu-row {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      
      @include viewport(medium) {
        flex-direction: row;
        flex-wrap:wrap;
        width: 100%;
      }
  
      @include viewport(large) {
        flex-direction: row;
        flex-wrap: nowrap;
        flex-grow: 1;
        column-gap: 10%;
      }
  
      @include viewport(x-large) {
        flex-direction: row;
        flex-wrap: nowrap;
        column-gap: 10%;
        flex-grow: 2;
      }
   }  
    
}




.footer-socials a {
  
  padding: 12px 22px 16px;
  margin-right: 10px;
  margin-bottom: 10px;
  @include viewport(smedium) {
    width: 35%;
  }
}
  
footer h4 {
  color: $white;
  text-transform: uppercase;
}


.footer-menu {
  margin-bottom: 30px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  width: 100%;
  border: 0;
  font-size: .8125rem;
}

.ul {
  display:flex;
  padding-left: 1px;
  margin: 0;
  list-style-type: none;

  & li:first-of-type {
   
    @include viewport(small) {
      display: none;
    }

    @include viewport(medium) {
    display: inline-block;
    }
     
  }
}

.licence {
  display: flex;
  list-style: none;
  font-size: $font-size-s;
  background-color: palette(grey, x-dark);
  color: $white;
  padding: 5px 0 10px;

  @include viewport(small) {
    flex-direction: column;
  }
}

.li-hypthen {
  margin-left: em(10px);
  margin-right: em(10px);
}