// ==========================================================================
// Viewports
// ==========================================================================

// Columns

.col-xs {
    width: 100%;
    color: $white;
}
  
.col-l {
    display: flex;
}
.col-sm {
    @include viewport(small) {
        flex-direction: column;
    }
}

.col-md {
    @include viewport(medium) {
        flex-direction: column;
        width:50%;
    }

    &-footer-menu {
        @include viewport(medium) {
            width: 50%;
        }

        
    }
}

.col-lg {
    @include viewport(large) {
        flex-direction: column;
    }
}

.col-xlg {
    @include viewport(x-large) {
        flex-direction: column;
    }
}

// Rows

.row-md {
    @include viewport(medium) {
        flex-direction: row;
    }
}

.row-lg {
    @include viewport(large) {
        flex-direction: row;
    }
}

.row-xlg {
    @include viewport(x-large) {
        flex-direction: row;
    }
}


// Hiddens

.visible {
    //display: auto;
    &-xs {
        @include viewport(small) {
            display: auto;
        }
            
        @include viewport(medium) {
            display: none;
        }
    }
    
    &-md {
        @include viewport(medium) {
            display: auto;
        }
        
    }

    &-lg {
        @include viewport(large) {
            display: auto;
        }
    }
    
}

.hidden {

    &-sm {
        @include viewport(small) {
            display: none;
        }
    }
    &-md {
        @include viewport(medium) {
            display: none;
        }
    }

    &-lg {
        @include viewport(large) {
            display: none;
        }
    }

    &-xlg {
        @include viewport(x-large) {
            background-color: orange;
            display: none;
        }
    }
    
    //display: none;
    

    @include viewport(large) {
        display: none;
    }

    @include viewport(x-large) {
        display: none;
    }
}

// Mobile

.mobile-viewport {
    @include viewport(medium) {
        display: none;
    }

    @include viewport(large) {
        display: none;
    }

    @include viewport(x-large) {
        display: none;
    }
  }