// ==========================================================================
// Banner Section
// ==========================================================================
@import "../utilities/config";
@import "../utilities/mixins";

.carousell-content {
    filter: invert(0);
    position: absolute;
    text-align: center;
    font-weight: $font-weight-l;
    
  
    @include viewport(medium) { // 768px
      width: 560px;
    }
  
    @include viewport(large) {
      text-align: left;
    }
  
    @include viewport(x-large) {
      width: 1200px;
      text-align: left;
    }
    
    & h1 {
  
      @include viewport(large) {
        width: 900px;
        font-size: 64px;
        
        
      }
    
      @include viewport(x-large) {
        width: 1200px;
        font-size: 64px;
        text-align: left;
        
      }
    }
  
    & p {
      margin-bottom: 25px;
      font-weight: $base-font-weight;
    }
}