// ==========================================================================
// Brand + Reviews Section
// ==========================================================================
@import "../utilities/config";
@import "../utilities/mixins";

// Brand section

.background-color-grey {
  background-color: $grey-d;
}
  
.background-color-lightgrey {
  background-color: $grey-base;
}
  
.background-color-darkgrey {
  background-color: $grey-xd;
}
  
.brand-bg {
    color: $white;
  
    & h2 {
      color: $white;
    }
  
    @include viewport(large) {
      display: inline-block;
      width: 50%;
    }
  
    @include viewport(x-large) {
      display: inline-block;
      width: 50%;
    }
}
  
  
  
  // Review section
  .reviews-bg {
  
    color: $white;

    & h2 {
      color: $white;
    }
  
    @include viewport(large) {
      display: inline-block;
      width: 45%;
    }
  
    @include viewport(x-large) {
      display: inline-block;
      width: 45%;
    }
  }
  
  .client-quote {
    font-style: italic;
    font-size: 1.3rem;
    font-weight: 600;
  }

  .client-quote-author {
    font-weight: 600;
    font-size: 1.1rem;
    color: $grey-xl;
  }
  
  .reviews {
    display: block; //flex
    flex-direction: column;
    gap: 15px;
  
    
  
    @include viewport(x-large) {
      flex-direction: row;
    }
  }
  
  
  
  
  // About us Section
  .aboutus {
    display: block;//flex
    margin-bottom: em(50px);
    flex-direction: column;
  
    
  
    @include viewport(x-large) {
      gap: 15px;
      flex-direction: row;
    }
  }
  
  .star {
    display:inline-block;
    font-size: 50px;
  }