// ==========================================================================
// Newsletter Section
// ==========================================================================

@import "../utilities/config";

.newsletter {
    background-color: $grey-base;
}

.newsletter-tickboxarea {
    margin-bottom: 15px;

}

.media-body {
    display:table-cell;
    vertical-align: top;
    line-height: 32px;
}