// ==========================================================================
// Newsletter Section
// ==========================================================================

@import "../utilities/config";

.newsletter {
    background-color: $grey-base;

    & h2 {
        margin: 0 0 15px;
    }
}

.newsletter-tickboxarea {
    margin-bottom: 15px;
    cursor: pointer;
}

.media-body {
    color: $grey-label;
    font-weight: 600;
    display:table-cell;
    vertical-align: top;
    line-height: 32px;
}