// ==========================================================================
// Services Section
// ==========================================================================
@import "../utilities/config";
@import "../utilities/mixins";

.service {
    background-color: $white;
}

.service-list {
  & h2 {
    font-size: 2.7rem;
  }

  & h3 {
    font-size: 1.625rem;
  }
}


.service-title .h1 {
  font-size: 2.7rem;
  margin-top: -13px;
  color: $grey-label;
}
  
.service-blocks {
    
  @include viewport(large) {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  
  @include viewport(x-large) {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  &-bottom {

    @include viewport(medium) {
      display: grid;
      grid-template-columns: auto auto;
    }
    @include viewport(large) {
      display: grid;
      grid-template-columns: auto auto;
    }

    @include viewport(x-large) {
      display: grid;
      grid-template-columns: auto auto auto auto;
    }
  }
}
  .service-link {
    color: $white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    text-align: center;
  
    & h1 {
      color: palette(grey, x-dark);
    }
  
    >span.h2 {
      padding-bottom: 10px;
    }
  
  }
  
  .service-block-one {
    @include serviceblock-format();
    text-align: center;
    
    @include viewport(large) {
      margin-right: 30px;
    }

    @include viewport(x-large) {
      margin-right: 30px;
    }
  
    &:hover {
      background-color: $grey-blue;
      color: $white;
      
      .btn-software {
        background-color: $white;
        color: $grey-blue;
      }
  
      .icon-circle-software {
        color: $grey-blue;
        background-color: $white;
      }

      .icon-laptop {
        color: $grey-blue;
        background-color: $white;
      }
      
    }
  
  }
  
  
  
  .service-block-two {
    @include serviceblock-format();
    
    @include viewport(large) {
      margin-right: 30px;
    }

    @include viewport(x-large) {
      margin-right: 30px;
    }
    
    &:hover {
      background-color: $blue;
      color: $white;
  
      .btn-it {
        background-color: $white;
        color: $blue;
      }
  
      .icon-circle-it {
        fill: $blue;
        background-color: $white;
      }
      
      .icon-display {
        color: $blue;
        background-color: $white;
      }
      
      
    }
  
  }
  
  .service-block-three {
    @include serviceblock-format();
  
    @include viewport(x-large) {
      .p {
        margin-bottom: 40px;
      }
    }
    &:hover {
      background-color: $green;
      color: $white;
  
      .btn-dm {
        background-color: $white;
        color: $green;
      }
  
      .icon-circle-dm {
        fill: $green;
        background-color: $white;
      }

      .icon-bar-graph {
        color: $green;
        background-color: $white;
      }
    }
  
  }
  
  .service-block-four {
    @include serviceblock-format();

    @include viewport(medium) {
      margin-right: 15px;
    }
    
    @include viewport(large) {
      margin-right: 15px;
    }

    @include viewport(x-large) {
      margin-right: 15px;
    }
  
    &:hover {
      background-color: $red;
      color: $white;
  
      .btn-ts {
        background-color: $white;
        color: $red;
      }
  
      .icon-circle-ts {
        fill: $red;
        background-color: $white;
      }

      .icon-phone-call {
        color: $red;
        background-color: $white;
      }
    }
  }
  
  .service-block-five {
    @include serviceblock-format();
   
    @include viewport(medium) {
      margin-left: 15px;
    }

    @include viewport(large) {
      margin-left: 15px;
    }

    @include viewport(x-large) {
      margin-left: 15px;
      margin-right: 15px;
    }
  
    &:hover {
      background-color: $purple;
      color: $white;
  
      .btn-wd {
        background-color: $white;
        color: $purple;
      }
  
      .icon-circle-wd {
        fill: $purple;
        background-color: $white;
      }

      .icon-embed{
        color: $purple;
        background-color: $white;
      }
    }
  }
  
  .service-block-six {
    @include serviceblock-format();

    @include viewport(medium) {
      margin-right: 15px;
    }

    @include viewport(large) {
      margin-right: 15px;
    }

    @include viewport(x-large) {
      margin-left: 15px;
      margin-right: 15px;

      .btn-cs {
        margin-left: 0;
      }
    }
  
    &:hover {
      background-color: $red-light;
      color: $white;
  
      .btn-cs {
        background-color: $white;
        color: $red-light;
      }
  
      .icon-circle-cs {
        fill: $red-light;
        background-color: $white;
      }

      .icon-security {
        color: $red-light;
        background-color: $white;
      }
    }
  
    
  }
  
  .service-block-seven {
    @include serviceblock-format();

    @include viewport(medium) {
      margin-left: 15px;
    }

    @include viewport(large) {
      margin-left: 15px;
    }

    @include viewport(x-large) {
      margin-left: 15px;
    }

    &:hover {
      background-color: $red-tomato;
      color: $white;
  
      .btn-dt {
        background-color: $white;
        color: $red-tomato;
      }
  
      .icon-circle-dt {
        fill: $red-tomato;
        background-color: $white;
      }
      
      .icon-mortar-board {
        color: $red-tomato;
        background-color: $white;
      }
    }
    // @include viewport(large) {
    //   grid-column: 2;
    //   grid-row: 3;
    // }
  
    @include viewport(x-large) {
      
    }
  }

  