// ==========================================================================
// Base Styles
// ==========================================================================

* {
 
  font-family: $font-family--primary;
  font-size: em($base-font-size);
}

h4 {
    color: $white;
}

.newsletter{
    padding-bottom: em(50px);
}

