// ==========================================================================
// Base Styles
// ==========================================================================

* {
 
  font-family: $font-family--primary;
  font-size: em($base-font-size);
}

h4 {
    color: $white;
}

h2 {
  box-sizing: border-box;
  font-size: 2rem;
  font-weight: 400;
  margin: 0 0 15px;
  color: palette(grey, x-dark);
}

.newsletter{
    padding-bottom: em(50px);
}



