// ==========================================================================
// Buttons
// ==========================================================================

.btn {
    @include btn-format();

    &:hover {
        background-color: $black;
    }
  }

  .btn-subscribe {
    margin-left: em(10px);
  }

a {
    color: palette(grey, x-dark);
    text-decoration: none;
    text-align: center;
    
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}


// Social icons

#footer-logo {
   // @include img-sizing(em(200px), em(100px));
}
.facebook {
    //@include img-replace("facebook.png", em(100px), em(100px), flex);
    
    @include img-sizing(em(75px), em(75px), flex);
    @include btn-format-socials;
   
    

    &:hover {
        background-color: $facebook-color;
    }
  }
  
  .linkedin {
    //@include img-replace("linkedin2.png", em(100px), em(100px), flex);
    @include btn-format-socials;
    @include img-sizing(em(75px), em(75px), flex);

    &:hover {
        background-color: $linkedin-color;
    }
  }
  
  .twitter {
   // @include img-replace("twitter.png", em(100px), em(100px), flex);
    @include btn-format-socials;
    @include img-sizing(em(75px), em(75px), flex);

    &:hover {
        background-color: $twitter-color;
    }
  }
  
  .instagram {
    @include btn-format-socials;
    @include img-sizing(em(75px), em(75px), flex);
    &:hover {
        background-color: $instagram-color
    }
    margin-right: em(400px);
    @include viewport(large) {
        margin-right: 0;
    }
    
  }

  .btn-subscribe {
    flex-direction: row;
    padding-top: 10px;
    padding-right: 50%;
  }



  // Checkbox

  .label-checkbox {
    display:inline-block;
    cursor:pointer;
    width: 32px;
    height: 32px;
    background-color: palette(grey, xx-light);
    border: 3px solid palette(grey, x-dark);
    border-radius: 10%;
    margin-top: em(20px);
    margin-right: em(20px);
    margin-left: em(20px);

    &::before {
        content: "";
        color: $white;
        display:block;
        position: center;
       // top:50%;
        //left:50%;
        transform:translate(50%, -20%);
        width:0;
        height:0;
        border-top: 0;
       // border-bottom: 3px solid #fff;
        //border-left: 3px solid #fff;
        //color: #fff;
        //font-size: 20px;
    }
  }

  input[type="checkbox"] {
    display: none;

    &:checked + .label-checkbox {
        background-color: palette(grey, base);
        border: 3px solid palette(grey, base);
        

        &::before {
            scale: 2;
            width: 10px;
            height: 10px;
            position: center;
            content: "\2713";
        }
        
        
    }
  }

  
  