// ==========================================================================
// Buttons
// ==========================================================================

#chat-button {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),
              0 6px 20px 0 rgba(0,0,0,.10);
  display: flex;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.cookie-settings-btn {
  background: none;
  border: none;
  color: $white;
  
  &:hover {
    text-decoration: underline;
  }
}
.btn {
    @include btn-format();

    &:hover {
      background-color: palette(grey, x-dark);
    }

    &-help {
      display: none;
      padding: 10px 10px;
      margin-right: 5px;

      @include viewport(x-large) {
        display: flex;
      }

      &-support {
        background-color: $blue;
        border-color: $blue;

        &:hover {
          background-color: $dark-blue;
        }
      }

      &-contact {
        background-color: palette(grey, x-light);
        border-color: palette(grey, x-light);
        
        &:hover {
          background-color: palette(grey, light);
        }
      }
    }

    &-tooltip {
      position: absolute;
      color: $white;
      background-color: $green;
      text-transform: uppercase;
      text-decoration: none;
      right: 0;
      padding: 0 10px;
      line-height: 1rem;
      z-index: 1;

      &-one {
        background-color: $green;

        &:hover {
          text-decoration: underline;
        }
      }

      &-two {
        background-color: $blue;

        &:hover {
          text-decoration: underline;
        }
      }

      &-three {
        background-color: $purple;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    

    &-news{
      text-align: center;
      
      width: 100px;

      &-one{
        background-color: $green;
      }

      &-two {
        background-color: $blue;
      }

      &-three {
        background-color: $purple;
      }
    }

    &-aboutus {
      @include a-format();
      display: block;
      background-color: palette(grey, dark);
      margin-bottom: 16px;
      
      &-whychooseus {
        width: 165px;

        @include viewport(large) {
          display: inline-block;
        }
  
        @include viewport(x-large) {
          display: inline-block;
        }
      }

      &-ourculture {
        width: 140px;

        @include viewport(large) {
          display: inline-block;
        }
  
        @include viewport(x-large) {
          display: inline-block;
        }
      }

      &:hover {
        text-decoration: none;
        background-color: $black;
      }
    }

    &-reviews {
      display: flex;
      
      @include viewport(small) {
        margin-bottom: none;
      }

      &-google {
        width: 160px;
        background-color: $blue;
      
        @include viewport(x-large) {
          margin-bottom: 40px;
        }

        &:hover {
          background-color: $dark-blue;
        }
      }

      &-trustpilot {
        width: 180px;
        background-color: $green;
        margin-bottom: 40px;

        &:hover {
          background-color: $dark-green;
          text-decoration: none;
          
        }
      }

      @include viewport(large) {
        display: inline-block;
      }

      @include viewport(x-large) {
        display: inline-block;
      }
    }

    &-software {
      @include btn-format();
      @include btn-format-servies();
      @extend .service-block-one;
      
      background-color: $grey-blue;
      // &:hover { // SEE .service-block-one class
      //   background-color: $white;
      //   color: $grey-blue;
      // }
    }

    &-it {
      @include btn-format();
      @include btn-format-servies();
      @extend .service-block-two;
      
      background-color: $blue;
    }

    &-dm {
      @include btn-format();
      @include btn-format-servies();
      @extend .service-block-three;
      
      background-color: $green;
    }

    &-ts { 
      @include btn-format();
      @include btn-format-servies();
      @extend .service-block-four;
      
      background-color: $red;
    }

    &-wd {
      @include btn-format();
      @include btn-format-servies();
      @extend .service-block-five;
      
      background-color: $purple;
    }

    &-cs {
      @include btn-format();
      @include btn-format-servies();
      @extend .service-block-six;
    
      background-color: $red-light;
    }

    &-dt {
      @include btn-format();
      @include btn-format-servies();
      @extend .service-block-seven;

      background-color: $red-tomato;
    }

    &-whyus {
      @include a-format();
      padding: 15px;
      background-color: $purple;
      font-weight: $base-font-weight;

      &:hover {
        background-color: $dark-purple;
      }
    }

  }

  .btn-subscribe {
    margin-left: em(10px);
  }

// Social Buttons

.facebook {
    //@include img-replace("facebook.png", em(100px), em(100px), flex);
    
    @include img-sizing(em(50px), em(50px));
    @include btn-format-socials;
    & img {
      
    }
    

    &:hover {
      background-color: $facebook-color;
    }
  }
  
  .linkedin {
    //@include img-replace("linkedin2.png", em(100px), em(100px), flex);
    @include btn-format-socials;
    @include img-sizing(em(50px), em(50px));

    &:hover {
        background-color: $linkedin-color;
    }
  }
  
  .twitter {
   // @include img-replace("twitter.png", em(100px), em(100px), flex);
    @include btn-format-socials;
    @include img-sizing(em(50px), em(50px));

    &:hover {
        background-color: $twitter-color;
    }
  }
  
  .instagram {
    @include btn-format-socials;
    @include img-sizing(em(50px), em(50px));
    &:hover {
        background-color: $instagram-color
    }
    //margin-right: em(400px);
    @include viewport(large) {
        margin-right: 0;
    }
    
  }

  .btn-subscribe {
    flex-direction: row;
    padding-top: 10px;
    padding-right: 50%;
  }

  // Client Slideshow Buttons

  .clients {
    padding-top: 10%;
    padding-bottom: 50px;
    padding-right: 20px;
    background-color: $white;
    display: flex;
    justify-content: flex-start;
   // flex-wrap: wrap;
    overflow-x: hidden;

    & img {

        filter:grayscale(1);
    
        &:hover {
            filter:grayscale(0);
        }
      }

  }

  .item {
    display: flex;
    max-height: 70px;
    height: 70px;
    width: auto;
    align-items: center;
    padding: 20px;

  }

  // Hamburger button

  .hamburger-box {
    display: inline-block;
    width: 33px;
    height: 19px;
    position: relative;
  }
  
  
  .hamburger-inner {
    left: 0;
    top: 10px;
  
    @include hamburger();
  
    &::before {
      @include hamburger();
      top: -10px;
      bottom: 0;
    }
  
    &::after {
      @include hamburger();
      top: 10px;
    }
  }
  
  .hamburger-spin:hover {
    .hamburger-inner {
  
      @include hamburger();
  
      transform: rotate(225deg);
      transition-delay: .12s;
      transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
      transition: .5s ease;
  
      &::before {
        @include hamburger();
        top:0;
        opacity: 0;
  
        transition: top .1s ease-out
          ,opacity .1s ease-out .12s;
  
        transform: rotate(45deg);
  
        &:hover {
          top: 10px;
        }
      }
  
      &::after {
        @include hamburger();
        bottom: 0;
        top: 0;
        transform: rotate(-90deg);
        transition: bottom .1s
          ease-out, transform .22s
          cubic-bezier(0.215, 0.610, 0.355, 1) .12s;
      }
    }
  }


  // Search bar Submit button

  #search-submit {
   @extend .search-bar;
  
    position: absolute;
    right: 0;
    top: 1%;
    line-height: 47px;
  }

  //Privacy Policy Button
  .privacy-policy {
    @include a-format();
    text-decoration: underline;
    color: palette(grey, dark);
  }

  // Anchor buttons

  footer ul li a {
    @include a-format();
    color: $white;
  }

  .li-sitemap a {
    @include a-format();
    color: $white;
  }

  .client-quote-author a {
    @include a-format();
    font-weight: $font-weight-d;
    color: palette(grey, x-light);
    color: $white;
    
  }

  .h2 a {
    @include a-format();
    color: palette(grey, x-dark);
  }

  .reviews a {
    @include a-format();
    
    &:hover {
      text-decoration: none;
    }
  }

  .text-align-md a {
    @include a-format();
    color: palette(grey, x-dark);

    &:hover {
      text-decoration: underline;
    }
  }

  .headings-bar a {
    @include a-format();
    color: palette(grey, x-dark);

    &:hover {
      text-decoration: underline;
    }
  }

  .link-text {
    display: flex;
  }