// ==========================================================================
// Buttons
// ==========================================================================

#chat-button {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),
              0 6px 20px 0 rgba(0,0,0,.10);
  display: flex;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.cookie-settings-btn {
  position: fixed;
  line-height: 22px;
  z-index: 100;
  bottom: 0;
  left: 0;
  display: flex;
  background: $grey-cookie;
  font-weight: 600;
  border: solid $grey-cookie;
  border-width: 1px 1px 0 0;
  border-radius: 0;
  border-top-right-radius: 10px;
  padding: 0 10px;
  cursor: pointer;
  font-size: .8rem;
  color: $white;
  
  &:hover {
    background-color: $grey-cookie-light;
    border-color: $grey-cookie-light;
    box-shadow: 0 3px 35px rgba(0,0,0,.1);
  }
}

.btn {
    @include btn-format();
    @include btn-primary();

    &:hover {
      background-color: $black;
    }

    &-help {
      display: none;
      height: 56px;
      line-height: 46px;
      font-size: 1.125rem;
      padding: 10px 10px;
      width: 151px;
      border-radius: 3px;

      @include viewport(large) {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      @include viewport(x-large) {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &-support {
        background-color: $blue;
        border-color: $blue;
        
        &:hover {
          background-color: $dark-blue;
        }

      }

      &-contact {
        background-color: palette(grey, x-light);
        border-color: palette(grey, x-light);
        
        &:hover {
          background-color: palette(grey, light);
        }
      }
    }

    &-searless {
      display: flex;
      @include clients-button-format($green, $green, $green-hover, $green-hover-border);
    }

    &-swan {
      display: flex;
      @include clients-button-format($grey-blue, $grey-blue, $grey-blue-hover, $grey-blue-hover-border);
    }

    &-girlsguidinganglia {
      display: flex;
      @include clients-button-format($blue, $blue, $blue-hover, $blue-hover-border);
    }

    &-sweetzy {
      display: flex;
      @include clients-button-format($green, $green, $green-hover, $green-hover-border);
    }

    &-gdst {
      display: flex;
      @include clients-button-format($green, $green, $green-hover, $green-hover-border);
    }

    &-ashcroft {
      display: flex;
      @include clients-button-format($purple, $purple, $purple-hover, $purple-hover-border);
    }

    &-onetraveller {
      display: flex;
      @include clients-button-format($purple, $purple, $purple-hover, $purple-hover-border);
    }

    &-tooltip {
      position: absolute;
      color: $white;
      background-color: $green;
      text-transform: uppercase;
      text-decoration: none;
      font-size: .75rem;
      right: 0;
      top: 10px;
      padding: 0 10px;
      line-height: 1.438rem;
      font-weight: 600;
      z-index: 1;

      &-one {
        background-color: $green;

        &:hover {
          text-decoration: underline;
        }
      }

      &-two {
        background-color: $blue;

        &:hover {
          text-decoration: underline;
        }
      }

      &-three {
        background-color: $purple;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &-hamburger {
      height: 56px;
      border-radius: 3px;
    }

    

    &-news{
      text-align: center;
      

      padding: 5px 15px;

      &-one{
        background-color: $green;
      }

      &-two {
        background-color: $blue;
      }

      &-three {
        background-color: $purple;
      }
    }

    &-aboutus {
      @include a-format();
      @include btn-format-aboutus();
      @include btn-primary();
      background-color: $grey-d-button;
      

      &:hover {
        text-decoration: none;
        background-color: $grey-d-button-hover;
      }
      
      &-whychooseus {
        
        @include viewport(medium) {
          display: inline-block;
          margin-bottom: 50px;
        }

        @include viewport(large) {
          display: inline-block;
          margin-top: 0;
        }
  
        @include viewport(x-large) {
          display: inline-block;
          margin-top: 0;
        }
      }

      &-ourculture {
        

        @include viewport(large) {
          display: inline-block;
        }
  
        @include viewport(x-large) {
          display: inline-block;
        }
      }

      &:hover {
        text-decoration: none;
        background-color: $black;
      }
    }

    &-reviews {
      @include btn-primary();
      @include btn-format-aboutus();
      display: block; //flex
      
      
      @include viewport(small) {
        margin-bottom: none;
      }

      @include viewport(x-large) {
        height: 56px;
        margin-top: 35px;
      }

      &-google {
        display: inline-block;
        background-color: $blue-button;
        
        align-items: baseline;
      
        @include viewport(x-large) {
         
        }

        &:hover {
          background-color: $dark-blue;
        }
      }

      &-trustpilot {
        background-color: $green-d;
        display: inline-block;
        align-items: baseline;
        white-space: nowrap;
        

        &:hover {
          background-color: $green-d-hover;
          text-decoration: none;
          
        }
      }

      @include viewport(large) {
        display: inline-block;
      }

      @include viewport(x-large) {
        display: inline-flex;
      }
    }

    &-software {
      @include btn-format();
      @include btn-format-servies();
      @extend .service-block-one;
      
      margin-right: 0;
      background-color: $grey-blue;
    }

    &-it {
      @include btn-format();
      @include btn-format-servies();
      @extend .service-block-two;

      margin-right: 0;
      background-color: $blue;
    }

    &-dm {
      @include btn-format();
      @include btn-format-servies();
      @extend .service-block-three;

      margin-right: 0;
      background-color: $green;
    }

    &-ts { 
      @include btn-format();
      @include btn-format-servies();
      @extend .service-block-four;
      
      margin-right: 0;
      background-color: $red;
    }

    &-wd {
      @include btn-format();
      @include btn-format-servies();
      @extend .service-block-five;
      
      margin-left: 0;
      margin-right: 0;
      background-color: $purple;
    }

    &-cs {
      @include btn-format();
      @include btn-format-servies();
      @extend .service-block-six;
    
      margin-right: 0;
      background-color: $red-light;
    }

    &-dt {
      @include btn-format();
      @include btn-format-servies();
      @extend .service-block-seven;

      margin-left: 0;
      margin-right: 0;
      background-color: $red-tomato;
    }

    &-whyus {
      @include a-format();
      padding: 15px;
      background-color: $purple;
      font-weight: $base-font-weight;

      &:hover {
        background-color: $dark-purple;
      }
    }

}

 
// Social Buttons

.facebook {
    
    
    
    @include btn-format-socials;
    & img {
      
    }
    

    &:hover {
      background-color: $facebook-color;
    }
  }
  
  .linkedin {
    
    @include btn-format-socials;
    

    &:hover {
        background-color: $linkedin-color;
    }
  }
  
  .twitter {
   
    @include btn-format-socials;
    

    &:hover {
        background-color: $twitter-color;
    }
  }
  
  .instagram {
    @include btn-format-socials;
    
    &:hover {
        background-color: $instagram-color
    }
    //margin-right: em(400px);
    @include viewport(large) {
        margin-right: 0;
    }
    
  }

  .btn-subscribe {
    flex-direction: row;
    font-size: 1.063rem;
    line-height: 35px;
    border-radius: 3px;
    white-space: normal;
    padding: 5px 15px;
  }

  // Client Slideshow Buttons

 

  .pull-right {
    margin-right: -4px;
    margin-left: 12px;
  }

  // Hamburger button

  .hamburger-box {
    display: inline-block;
    width: 33px;
    height: 19px;
    position: relative;
  }
  
  
  .hamburger-inner {
    left: 0;
    top: 10px;
  
    @include hamburger();
  
    &::before {
      @include hamburger();
      top: -10px;
      bottom: 0;
    }
  
    &::after {
      @include hamburger();
      top: 10px;
    }
  }
  
  .hamburger-spin:hover {
    .hamburger-inner {
  
      @include hamburger();
  
      transform: rotate(225deg);
      transition-delay: .12s;
      transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
      transition: .5s ease;
  
      &::before {
        @include hamburger();
        top:0;
        opacity: 0;
  
        transition: top .1s ease-out
          ,opacity .1s ease-out .12s;
  
        transform: rotate(45deg);
  
        &:hover {
          top: 10px;
        }
      }
  
      &::after {
        @include hamburger();
        bottom: 0;
        top: 0;
        transform: rotate(-90deg);
        transition: bottom .1s
          ease-out, transform .22s
          cubic-bezier(0.215, 0.610, 0.355, 1) .12s;
      }
    }
  }


  // Search bar Submit button

  #search-submit {
   @extend .search-bar-mobile;
  
    position: absolute;
    right: 0;
    top: 1%;
    line-height: 47px;
  }

  //Privacy Policy Button
  .privacy-policy {
    @include a-format();
    text-decoration: underline;
    color: palette(grey, dark);
  }

  // Anchor buttons

  footer ul li a {
    @include a-format();
    color: $white;
  }

  .li-sitemap a {
    @include a-format();
    color: $white;
  }

  .client-quote-author a {
    @include a-format();
    font-weight: $font-weight-d;
    color: palette(grey, x-light);
    color: $white;

    &:hover {
      text-decoration: underline;
    }
    
  }

  .h2 a {
    @include a-format();
    color: $grey-label;
  }

  .view-work {
    padding: 0;
  
  }

  .reviews a {
    @include a-format();
    
    &:hover {
      text-decoration: none;
    }
  }

  .text-align-md a {
    @include a-format();
    color: $grey-label;

    &:hover {
      text-decoration: underline;
    }
  }

  .headings-bar a {
    @include a-format();
    color: palette(grey, x-dark);

    &:hover {
      text-decoration: underline;
    }
  }

  .link-text {
    margin-left: 10px;
  }