// ==========================================================================
// Form Elements
// ==========================================================================

// Search Form

.search-form {
    display: flex;
    outline: none;

    @include viewport(small) {
      padding-top: 10px;
    }

    &-mobile-btn {
      background: none;
      border: none;
      position: absolute;
      right: 10px;
      outline: none;
      margin-right: 10px;
      line-height: 47px;
      font-size: 20px;
      cursor: pointer;
    }

    &-tablet-btn {
      width: 63px;
      border-radius: 0 3px 3px 0;
      padding-top: 14px;
      padding-bottom: 14px;
      padding-left: 12px;
      padding-right: 12px;
      background-color: $grey-cookie-light;
      border: none;
      cursor: pointer;
      
      
    }
    
  }

  .form-control {
    height: 47px;
    width: 100%;
    
  }

  .search-bar-mobile {
    display: inline-block;
   
    @include textfield-format(47px);
    padding-right: 40px;
    background-color: rgba(0,0,0,.1);
    border: 2px solid rgba(0,0,0,.1);

    &:focus {
      background-color: rgba(0,0,0,.1);
      border: 2px solid rgba(0,0,0,.1);
    }

    @include viewport(small) {
      
    }

    @include viewport(medium) {
      
    }

    // @include viewport(large) {
    //   display: none;
    // }

    // @include viewport(x-large) {
    //   display: none;
    // }

  }

  .search-bar-tablet {
    display: inline-block;
   
    @include textfield-format(56px);
    border-radius: 0;
    width: 174px;
    padding-right: 40px;
    

    &:focus {
      @include textfield-focus();
    }

    @include viewport(large) {
      display: none;
    }

    @include viewport(x-large) {
      width: 240px;
    }
  }

  .actions {
    float: right;
    
  }
  
// Form Checkbox

.label-checkbox {
    display:inline-block;
    position: relative;
    float:left;
    cursor:pointer;
    width: 32px;
    height: 32px;
    background-color: $grey-base;
    border: 3px solid $grey-label;
    border-radius: 10%;
    margin-right: em(20px);
    margin-bottom: 0;

    &::before {
        content: "";
        color: $white;
        display:block;
        position: center;
       // top:50%;
        //left:50%;
        transform:translate(50%, -20%);
        width:0;
        height:0;
        border-top: 0;
       // border-bottom: 3px solid #fff;
        //border-left: 3px solid #fff;
        //color: #fff;
        //font-size: 20px;
    }
  }

  input[type="checkbox"] {
    display: none;

    &:checked + .label-checkbox::before {
      display: block;
      color: $grey-label;
      height: 8px;
      scale: 1.7;
      content: "\ea52";  
      font-family: 'icomoon';
    }
  }

  

  // Email Newsletter Search Form

  #newsletter-name {
    @include textfield-format(47px);
    
    &:focus {
      @include textfield-focus();
    }
    
  }

  #newsletter-email {
    @include textfield-format(47px);

    &:focus {
      @include textfield-focus();
    }
  }

  .required::after {
    content: " *";
    color: $red;
  }

  .form-input {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  
  
    @include viewport(medium) {
      flex-wrap: wrap;
    }
  
    @include viewport (large) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    @include viewport (x-large) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  
  }

 
  .sign-up {
    padding: 50px 0;
  }

  .sign-up-input {
    flex: 1 1; // 450px MAYBE?
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 15px;
  }