// ==========================================================================
// Icons
// ==========================================================================

// Logo

// Magnifying glass Icon 
  .magnifyglass {
    fill: $black;
    width: 24px;
    height: 24px;
  }

  .telephone {
    fill: palette(grey, x-dark);
    padding: 10px 10px;
    width: 32px;
    height: 32px;
    stroke-width: 0;

    @include viewport(large) {
      width:64px;
      height: 64px;
    }
    //stroke: currentColor;
    
  }

  // Services Icons

  .icon-format-services {
    @include icon-format-services();

    &-telephone {
      width: 38px;
      height: 38px;
      margin-left: 19px;
    }
    
  }

  .icon-circle {
    @include icon-circle();

    &-software {
      background-color: $grey-blue;
    }

    &-it {
      background-color: $blue;
    }

    &-dm {
      background-color: $green;
    }

    &-ts {
      background-color: $red;
    }

    &-wd {
      background-color: $purple;
    }

    &-cs {
      background-color: $red-light;
    }

    &-dt {
      background-color: $red-tomato;
    }

    &-speechbubble {
      background-color: palette(grey, x-dark);
      margin: 0;
    }
  }

  .icon-speechbubble {
    display:flex;
    flex-direction: column;
    padding: 0 5px 5px 0;
    margin: 0;
  }


  // Social Icons

  .icon-format-socials {
    @include icon-format-socials();
  }


  

 
  
  
