// ==========================================================================
// Images
// ==========================================================================

// Lastest News

.img-container {
    
   @include img-format();
    //filter: brightness(50%);
    
    &-header {

        & img {
            opacity: .5;

            @include viewport(large) {
                opacity: 1;
            }

            @include viewport(x-large) {
                opacity: 1;
            }
        }


        &::before {
            content: "";
            @include viewport(large) {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background: linear-gradient(270deg, transparent 25%, #000);
            }
    
            @include viewport(x-large) {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background: linear-gradient(270deg, transparent 25%, #000);
            }
        }
    }
    
}

.img-responsive {
    position:relative;
}

.article-img {
    display: block;
    width: auto;
    height: auto;
}

.home-img {
    color: $white;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    left: 0;
    

    @include viewport(large) {
        //filter: brightness(100%);
        opacity: 1;
    }

    @include viewport(x-large) {
        width: 100%;
        //filter: brightness(100%);
        opacity: 1;
        
    }

    & img {
        
        min-height: 550px;
        max-height: 550px;
        //filter: brightness(50%);

        @include viewport(large) {
            //filter: brightness(100%);
            
        }

        @include viewport(x-large) {
           width: 100%;
           object-fit: cover;
            //filter: brightness(100%);
            
        }
    }

    width: 100%;
    min-height: 550px;
}

.logo {
    
    max-width: 100%;

    @include viewport(medium) {
        height: 60px;
    }

    @include viewport(large) {
        height: 64px;
    }

    @include viewport(x-large) {
        height: 64px;
    }
}

.logo img {
    display: block;
}

.clients {

    &-xupes-logo {
        height: 38px;
    }

    &-surveysolutions-logo {
        height: 48px;
    }

    &-crane-logo {
       height: 48px;
    }
 
}

