// ==========================================================================
// Images
// ==========================================================================

// Lastest News

.img-container {
    
    position: relative;
    width:100%;
    height: auto;
    z-index: 0;
}

.img-responsive {
    position:relative;
}

.article-img {
    display: block;
    width: auto;
    height: auto;
}

.home-img {
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    & img {
        
        min-height: 550px;
        max-height: 550px;
        filter: brightness(50%);

        @include viewport(large) {
            filter: brightness(100%);
        }

        @include viewport(x-large) {
            width: 100%;
            filter: brightness(100%);
        }
    }

    width: 100%;
    min-height: 550px;
}

.logo {
    display: table-cell;
    vertical-align: middle;
    max-width: 100%;
}

.clients-xupes-logo {
 
}