// ==========================================================================
// Images
// ==========================================================================

// Lastest News

.img-container {
    
   @include img-format();
    //filter: brightness(50%);
    
    &-header {

        & img {
            opacity: .5;

            @include viewport(large) {
                opacity: 1;
            }

            @include viewport(x-large) {
                opacity: 1;
            }
        }


        &::before {
            content: "";
            @include viewport(large) {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background: linear-gradient(270deg, transparent 25%, #000);
            }
    
            @include viewport(x-large) {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background: linear-gradient(270deg, transparent 25%, #000);
            }
        }
    }
    
}

.img-responsive {
    position:relative;
}

.article-img {
    display: block;
    width: auto;
    height: auto;
}

.home-img-primary {
    @include banner-img-format();
}

.home-img-secondary {
    @include banner-img-format();
}

.logo {
    
    max-width: 100%;

    @include viewport(medium) {
        height: 60px;
    }

    @include viewport(large) {
        height: 64px;
    }

    @include viewport(x-large) {
        height: 64px;
    }
}

.logo img {
    display: block;
}

.clients {

    &-xupes-logo {
        height: 38px;
    }

    &-surveysolutions-logo {
        height: 48px;
    }

    &-crane-logo {
       height: 48px;
    }
    
    &-ashcroft-logo {
        height: 42px;
    }
}

