// ==========================================================================
// Nav
// ==========================================================================

.nav-item {
    flex: 1;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    

    &-software {

        &:hover {
            background-color: $grey-blue;

            .sub-menu-banner-software {
                display: block;
            }

            .icon-format-nav-laptop {
                color: white;
            }

            @include nav-triangle($grey-blue);
        }

       
    }

    &-it {
        &:hover {
            background-color: $blue;

            .sub-menu-banner-it {
                display: block;
            }

            .icon-format-nav-monitor {
                color: white;
            }

            @include nav-triangle($blue);
        }
    }

    &-dm {
        &:hover {
            background-color: $green;

            .sub-menu-banner-dm {
                display: block;
            }

            .icon-format-nav-graph {
                color: white;
            }
            
            @include nav-triangle($green);
        }
    }
    
    &-ts {
        &:hover {
            background-color: $red;

            .sub-menu-banner-ts {
                display: block;
            }

            .icon-format-nav-telephone {
                color: white;
            }

            @include nav-triangle($red);
        }
    }
    
    &-wd {
        &:hover {
            background-color: $purple;

            .sub-menu-banner-wd {
                display: block;
            }

            .icon-format-nav-code {
                color: white;
            }

            @include nav-triangle($purple);
        }
    }

    &-cs {
        &:hover {
            background-color: $red-light;

            .sub-menu-banner-cs {
                display: block;
            }

            .icon-format-nav-security {
                color: white;
            }

            @include nav-triangle($red-light);
        }
    }

    &-dc {
        &:hover {
            background-color: $red-tomato;

            .sub-menu-banner-dc {
                display: block;
            }

            .icon-format-nav-school {
                color: white;
            }

            @include nav-triangle($red-tomato);
        }
    }
}

.nav-item a {
    @include a-format();
    width: 100%;
    position: relative;
    padding: 19px 0 19px;
    color: $white;
    text-transform: uppercase;
    font-size: 1.125rem;

}

.nav-item small {
    padding-bottom: 1px;
    font-size: .625rem;
}

.sub-menu {
  @include nav-format();
  

  & ul:before {
    background-color: red;
  }
}

.sub-menu-banner {
    
    &-software {
        @include nav-container();
        background-color: $blue-banner;
        display: none;
    }

    &-it {
        @include nav-container();
        background-color: $skyblue-banner;
        display: none;
    }

    &-dm {
        @include nav-container();
        background-color: $green-banner;
        display: none;
    }
    
    &-ts {
        @include nav-container();
        background-color: $red-banner;
        display: none;
    }

    &-wd {
        @include nav-container();
        background-color: $purple-banner;
        display: none;
    }

    &-cs {
        @include nav-container();
        background-color: $red-light-banner;
        display: none;
    }

    &-dc {
        @include nav-container();
        background-color: $tomato-banner;
        display: none;
    }
}
  
.sub-menu-banner-title {
    width: 100%;
    font-size: 2rem;
    font-weight: 500;
    color: white;
    text-transform: none;
    text-align: left;
}

.sub-menu-banner-item {
    width: 33%;
    margin-top: 15px;

    & a {
        display: flex;
        padding: 0;
        margin-top: 15px;
        text-decoration: none;
        color: white;
        font-size: 1.2rem;
        line-height: 1.313rem;
        padding: 0.625rem 0.938rem 0.625rem 0;
        text-align: left;
        text-transform: none;
    }
}
